{% extends 'layout-nhs-website-faq.html' %}

{% set version = "v4" %}
{% set heading = "Get help with signing up to be contacted for coronavirus vaccine research" %}



{% block beforeMain %}

{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>{{ heading }}</h1>

      <p class="nhsuk-lede-text">
        Get answers to common questions about coronavirus vaccine studies and signing up to be contacted about taking part
      </p>

    </div>
  </div>
  <article>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        
  
    <section>
      
      <div class="block-expander">
<details class="nhsuk-details nhsuk-expander" nhsuk-polyfilled="true" id="nhsuk-details0">
  <summary class="nhsuk-details__summary" role="button" aria-controls="nhsuk-details__text0" tabindex="0" aria-expanded="false">
    <span class="nhsuk-details__summary-text">
    How can I change my details once I've signed up?
    </span>
  </summary>
  <div class="nhsuk-details__text" id="nhsuk-details__text0" aria-hidden="true">
    
      <p>There is not currently a way to change your details. If you need to make a change, for example if you've had a positive coronavirus test, you need to withdraw your permission and sign up using the service again.</p>
    
  </div>
</details>

</div>
<div class="block-expander">
<details class="nhsuk-details nhsuk-expander" nhsuk-polyfilled="true" id="nhsuk-details1">
  <summary class="nhsuk-details__summary" role="button" aria-controls="nhsuk-details__text1" tabindex="0" aria-expanded="false">
    <span class="nhsuk-details__summary-text">
    How can I withdraw my permission if I no longer want to be contacted?
    </span>
  </summary>
  <div class="nhsuk-details__text" id="nhsuk-details__text1" aria-hidden="true">
    
      <p>You can use this service to withdraw your permission at any time. The link to withdraw your permission is also in the confirmation email you were sent when you signed up to be contacted for coronavirus research.</p>
    
  </div>
</details>

</div>
<div class="block-expander">
<details class="nhsuk-details nhsuk-expander" nhsuk-polyfilled="true" id="nhsuk-details2">
  <summary class="nhsuk-details__summary" role="button" aria-controls="nhsuk-details__text2" tabindex="0" aria-expanded="false">
    <span class="nhsuk-details__summary-text">
    Who has access to my details if I sign up to be contacted for coronavirus research?
    </span>
  </summary>
  <div class="nhsuk-details__text" id="nhsuk-details__text2" aria-hidden="true">
    
      <p>Only researchers working on studies approved to take place in the NHS will be able to see your details when you sign up. They'll access this information directly through NHS Digital, which holds the information securely.</p>
    
  </div>
</details>

</div>
<div class="block-expander">
<details class="nhsuk-details nhsuk-expander" nhsuk-polyfilled="true" id="nhsuk-details3">
  <summary class="nhsuk-details__summary" role="button" aria-controls="nhsuk-details__text3" tabindex="0" aria-expanded="false">
    <span class="nhsuk-details__summary-text">
    Do I have to take part in a study if I sign up to be contacted?
    </span>
  </summary>
  <div class="nhsuk-details__text" id="nhsuk-details__text3" aria-hidden="true">
    
      <p>No. By signing up to be contacted you allow researchers to contact you about specific studies. They'll give you more information about the study, and you'll be able to ask questions. You can then decide if you want to take part or not. It's your choice.</p>
    
  </div>
</details>

</div>
<div class="block-expander">
<details class="nhsuk-details nhsuk-expander" nhsuk-polyfilled="true" id="nhsuk-details4">
  <summary class="nhsuk-details__summary" role="button" aria-controls="nhsuk-details__text4" tabindex="0" aria-expanded="false">
    <span class="nhsuk-details__summary-text">
    Will I be asked to join a study that's far away from where I live?
    </span>
  </summary>
  <div class="nhsuk-details__text" id="nhsuk-details__text4" aria-hidden="true">
    
      <p>Coronavirus vaccine research is taking place across the UK so it's likely there'll be some research taking place near you. If a researcher asks you to take part in a study, you can say no if you feel it's too far away.</p>
    
  </div>
</details>

</div>
<div class="block-expander">
<details class="nhsuk-details nhsuk-expander" nhsuk-polyfilled="true" id="nhsuk-details5">
  <summary class="nhsuk-details__summary" role="button" aria-controls="nhsuk-details__text5" tabindex="0" aria-expanded="false">
    <span class="nhsuk-details__summary-text">
    I'm a researcher, can I access the information of people who have signed up?
    </span>
  </summary>
  <div class="nhsuk-details__text" id="nhsuk-details__text5" aria-hidden="true">
    
      <p>Only researchers working on specific&nbsp;coronavirus vaccine studies can access this information. If you have any queries about this, please use the contact form on the <a href="https://bepartofresearch.nihr.ac.uk/about/#contact-form">Be Part of Research</a> website.</p>
    
  </div>
</details>

</div>
<div class="block-expander">
<details class="nhsuk-details nhsuk-expander" nhsuk-polyfilled="true" id="nhsuk-details6">
  <summary class="nhsuk-details__summary" role="button" aria-controls="nhsuk-details__text6" tabindex="0" aria-expanded="false">
    <span class="nhsuk-details__summary-text">
    Could the vaccine give me coronavirus?
    </span>
  </summary>
  <div class="nhsuk-details__text" id="nhsuk-details__text6" aria-hidden="true">
    
      <p>No. The vaccines are designed so they do not cause the infection.</p>
    
  </div>
</details>

</div>
<div class="block-expander">
<details class="nhsuk-details nhsuk-expander" nhsuk-polyfilled="true" id="nhsuk-details7">
  <summary class="nhsuk-details__summary" role="button" aria-controls="nhsuk-details__text7" tabindex="0" aria-expanded="false">
    <span class="nhsuk-details__summary-text">
    What are the side effects I might get if I join a vaccine study?
    </span>
  </summary>
  <div class="nhsuk-details__text" id="nhsuk-details__text7" aria-hidden="true">
    
      <p>Common vaccine side effects include soreness, swelling and redness at the site of the vaccination. You may also get more general symptoms like tiredness, aching muscles and a high temperature. These may last for a few days and usually get better by themselves.</p>
    
  </div>
</details>

</div>
<div class="block-expander">
<details class="nhsuk-details nhsuk-expander" nhsuk-polyfilled="true" id="nhsuk-details8">
  <summary class="nhsuk-details__summary" role="button" aria-controls="nhsuk-details__text8" tabindex="0" aria-expanded="false">
    <span class="nhsuk-details__summary-text">
    How are studies approved?
    </span>
  </summary>
  <div class="nhsuk-details__text" id="nhsuk-details__text8" aria-hidden="true">
    
      <p>An overall plan for the research study is called a protocol. Before a study can start, the protocol needs to be approved by a group of researchers who are not involved in the study. This approval is called an independent scientific review, or peer review.</p><p>An independent research ethics committee will also review the protocol. This committee is responsible for looking after your rights, safety, dignity and wellbeing when you take part in research. It can also decide whether the study can go ahead.</p><p>Researchers are not allowed to change the protocol without telling the ethics committee. The ethics committee can stop a study at any time if it has any concerns about the welfare of people taking part.</p>
    
  </div>
</details>

</div>
    </section>
  
    <section>
      
      <div class="block-inset_text"><div class="nhsuk-inset-text">
  <span class="nhsuk-u-visually-hidden">Information: </span>
  <h2>More information</h2><p>Find out more about:</p><ul><li>taking part in health research at the <a href="https://bepartofresearch.nihr.ac.uk/taking-part/why-take-part/">Be Part of Research</a> website</li><li>how <a href="#">clinical trials</a> are run</li></ul>
</div>
</div>
    </section>
  

  
    <div class="nhsuk-review-date">
      <p class="nhsuk-body-s">
        Page last reviewed: 2 July 2020<br>
        Next review due: 2 July 2020
      </p>
    </div>
  



      </div>

      

  
    <aside class="nhsuk-grid-column-one-third">
      <div class="nhsuk-related-nav">
        <nav class="nhsuk-related-nav__nav-section" aria-labelledby="parent-title">
          <h2 class="nhsuk-related-nav__heading" id="parent-title">Contact the NHS</h2>
          <ul class="nhsuk-related-nav__list">
            
              
                <li class="nhsuk-related-nav__item"><a class="nhsuk-related-nav__link" href="#">Get medical help</a></li>
              
            
              
                <li class="nhsuk-related-nav__item"><a class="nhsuk-related-nav__link" href="#">Get help with asking for a coronavirus test</a></li>
              
            
              
                <li class="nhsuk-related-nav__item"><a class="nhsuk-related-nav__link" href="#">Book, cancel or change an appointment</a></li>
              
            
              
                <li class="nhsuk-related-nav__item"><a class="nhsuk-related-nav__link" href="#">Find contact details for GPs, hospitals and other services</a></li>
              
            
              
                <li class="nhsuk-related-nav__item"><a class="nhsuk-related-nav__link" href="#">Give feedback or make a complaint</a></li>
              
            
              
                <li class="nhsuk-related-nav__item"><a class="nhsuk-related-nav__link" href="#">Get help with something else</a></li>
              
            
          </ul>
        </nav>
      </div>
    </aside>
  



    </div>
  </article>
{% endblock %}
