{% extends 'layout-nhs-website.html' %}

{% set version = "v4" %}
{% set heading = "Coronavirus vaccine research" %}

{% block beforeMain %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>{{ heading }}</h1>

      <p>Vaccines are the most effective way to prevent infectious diseases.</p> 
      <p>They're designed so they do not give people the infection they're protecting against.</p>
      <p>Research into vaccines is the only way to find out which vaccines will work. Researchers need people to take part in their studies so they can find out which possible new vaccine works best.</p>

      <div class="nhsuk-inset-text">
        <p>On this page you can sign up to be contacted about taking part in approved UK coronavirus vaccine studies. This means you'll be joining the COVID-19 vaccine research registry.</p>
      </div>

      <h2>What's involved in vaccine studies</h2>
      <p>Vaccines are tested to make sure they're safe before being tested in people. If you take part in a vaccine study, you may or may not be offered the vaccine.</p> 
      <p>You'll need to visit the hospital, or other research site, a few times over 6 to 12 months.</p> 
      <p>At these visits, you'll usually:</p>
      <ul>
        <li>be told about the research study</li>
        <li>have the chance to ask any questions</li>
        <li>have blood tests</li>
      </ul>
      <p>Between visits, you'll be asked to tell the research team about any symptoms you have. You may need to do some things at home, like take a throat and nose swab every week, or keep a diary.</p>

      <h2>Who runs coronavirus vaccine studies</h2>
      <p>In England, the research partner of the NHS is the National Institute for Health Research (NIHR). The NIHR is working with equivalent NHS research partners in Northern Ireland, Scotland and Wales on vaccine studies.</p>
      <p>If you sign up to be contacted about vaccine studies, only researchers on studies approved by NIHR will be able to contact you.</p>
      
      <section id="">
  
        <figure class="nhsuk-image">
          <img class="nhsuk-image__img" src="/images/nihr-logo.png" sizes="
              (min-width: 1020px) 320px
              (min-width: 768px) 50vw
              100vw
            " srcset="
              https://assets.nhs.uk/prod/images/nihr-logo2.width-320.png 320w,
              https://assets.nhs.uk/prod/images/nihr-logo2.width-510.png 510w,
              https://assets.nhs.uk/prod/images/nihr-logo2.width-640.png 640w,
              https://assets.nhs.uk/prod/images/nihr-logo2.width-767.png 767w,
              https://assets.nhs.uk/prod/images/nihr-logo2.width-1019.png 1019w,
              https://assets.nhs.uk/prod/images/nihr-logo2.width-1125.png 1125w,
              https://assets.nhs.uk/prod/images/nihr-logo2.width-1534.png 1534w,
            " alt="Logo image for the National Institute for Health Research">
          
          
        </figure>
        
        </section>

      <p>There are currently 2 national coronavirus vaccine studies approved by NIHR in the UK, run by the University of Oxford and Imperial College London.</p> 
      <p>You can find out more about taking part in these vaccine studies at NIHR's <a href="https://www.bepartofresearch.nihr.ac.uk/">Be Part of Research website</a>.</p>
      <p>There are strict rules on safety and confidentiality that all health research, including vaccine studies, must follow.</p> 

      <h2>How do I sign up?</h2>
      <p>You can sign up online.</p>
      <p>We'll ask you some questions about yourself, and then ask your permission for researchers on the vaccine studies to contact you.</p>
      <p>If you sign up, your details will be kept secure. They'll only be shared with researchers who think you might be suitable for a study they're working on.</p>
      <p>The researchers will then contact you to tell you more about it.</p>
      <p>You do not have to talk to researchers or take part in a study. It's your choice. If you sign up, you can withdraw your permission at any time.</p>

      {{ actionLink({
        "text": "Sign up to be contacted for coronavirus vaccine studies ",
        "href": "/v4/"
      }) }}

      <p>If you have questions about signing up, see <a href="get-help-with-signing-up-for-contact-for-coronavirus-vaccine-studies">get help with signing up to be contacted for coronavirus vaccine research</a>.</p>

    </div>
  </div>
{% endblock %}
