{% extends 'layout-nhs-website.html' %}

{% set version = "v5" %}
{% set heading = "Coronavirus vaccine research" %}

{% block beforeMain %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>{{ heading }}</h1>

      <p>Vaccines are the most effective way to prevent infections like coronavirus (COVID-19).</p>
      <p>Researchers need people to take part in their studies so they can find out which possible new vaccines work best.</p>
      <p>On this page you can sign up to be contacted about taking part in approved UK coronavirus vaccine studies. This means you'll be joining the COVID-19 vaccine registry.</p>

      <h2>What's involved in signing up to be contacted</h2>
      <p>You can sign up online. We'll ask you some questions about yourself, and then ask your permission for researchers on the vaccine studies to contact you.</p>
      <p>If you sign up, your details will be kept secure. They'll only be shared with researchers who think you might be suitable for a study they're working on. The researchers will then contact you to tell you more about it, and answer any questions you have.</p>
      <p>If you sign up to be contacted, you do not have to take part in a study or talk to researchers. It's your choice.</p>
      <p>You can withdraw your permission at any time.</p>

      {{ actionLink({
        "text": "Sign up to be contacted for coronavirus vaccine studies ",
        "href": "/v5/"
      }) }}

      <h2 class="nhsuk-u-margin-top-8">About vaccine studies</h2>

      <div class="nhsuk-expander-group">

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Who can sign up to be contacted for coronavirus vaccine studies?
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <p>Anyone 18 or over living in the UK can sign up to be contacted about taking part in coronavirus vaccine studies. There is no upper age limit.</p>
            <p>Researchers often need to include people with different health conditions to see how the vaccine works. If you have a condition, there may be studies you can take part in.</p>
          </div>
        </details>

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              What's involved in vaccine studies?
            </span>
          </summary>
          <div class="nhsuk-details__text">
              <p>If you take part in a vaccine study you'll need to visit the hospital, or other research site, a few times over 6 to 12 months.</p>
              <p>At these visits, you'll usually:</p>
              <ul>
                <li>be told about the research study</li>
                <li>have the chance to ask any questions</li>
                <li>have blood tests</li>
                <li>have an injection, which may or may not be the vaccine</li>
              </ul>
              <p>Between visits, you'll be asked to tell the research team about any symptoms you have. You may need to do some things at home, like take a throat and nose swab every week, or keep a diary.</p>
          </div>
        </details>

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Are vaccine studies safe?
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <p>Vaccines are tested to make sure they're safe before being tested in people.</p>
            <p>The number of people the vaccine is tested on will depend on the stage of the study. You will usually be told how many people have been tested before you decide to take part in a study.</p>
            <p>The vaccine will not give you coronavirus. Vaccines are designed so they do not cause the infection.</p>
            <p>There is a chance of side effects. Common side effects include:</p>
            <ul>
              <li>soreness, redness and swelling at the site of the vaccination</li>
              <li>tiredness</li>
              <li>aching muscles</li>
              <li>high temperature</li>
            </ul>
            <p>These may last for a few days and usually get better by themselves.</p>
          </div>
        </details>

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Will I be asked to join a study that's far away?
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <p>Coronavirus vaccine research is taking place across the UK so it's likely there'll be some research taking place near you.</p>
            <p>If a researcher asks you to take part in a study, you can say no if you feel it's too far away.</p>
          </div>
        </details>

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Who runs coronavirus vaccine studies?
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <p>In England, the research partner of the NHS is the National Institute for Health Research (NIHR). The NIHR is working with equivalent NHS research partners in Northern Ireland, Scotland and Wales on vaccine studies.</p>
            <p>If you sign up to be contacted about vaccine studies, only researchers on studies approved by NIHR will be able to contact you.</p>
            <p>You can find out more about these vaccine studies at NIHR's <a href="https://bepartofresearch.nihr.ac.uk/vaccine-studies/">Be Part of Research</a> website.</p>
            <p>There are strict rules on safety and confidentiality that all health research, including vaccine studies, must follow.</p>
          </div>
        </details>

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              How are studies approved?
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <p>The overall plan for a research study is called a protocol. Before a study can start, the protocol needs to be approved by a group of researchers who are not involved in the study.</p>
            <p>An independent research ethics committee will also review the protocol. This committee is responsible for looking after your rights, safety, dignity and wellbeing when you take part in research. It can also decide whether the study can go ahead.</p>
            <p>Researchers are not allowed to change the protocol without telling the ethics committee. The ethics committee can stop a study at any time if it has any concerns about the welfare of people taking part.</p>
          </div>
        </details>

      </div>

      <p>If you have questions about signing up, see <a href="/v5/get-help-with-signing-up-for-contact-for-coronavirus-vaccine-studies">answers to common questions about signing up for coronavirus vaccine research</a>.</p>

      <figure class="nhsuk-image">
        <img class="nhsuk-image__img" src="/images/nihr-logo2.width-320.png" sizes="
            (min-width: 1020px) 320px
            (min-width: 768px) 50vw
            100vw
          " srcset="
            /images/nihr-logo2.width-320.png 320w,
            /images/nihr-logo2.width-510.png 510w,
            /images/nihr-logo2.width-640.png 640w,
            /images/nihr-logo2.width-767.png 767w,
            /images/nihr-logo2.width-1019.png 1019w,
            /images/nihr-logo2.width-1125.png 1125w,
            /images/nihr-logo2.width-1534.png 1534w,
          " alt="National Institute for Health Research">
      </figure>

      {{ actionLink({
        "text": "Sign up to be contacted for coronavirus vaccine studies ",
        "href": "/v5/"
      }) }}


      <div id="sibling-nav" class="nhsuk-related-nav nhsuk-hub-sibling-nav nhsuk-u-padding-top-5">
        <h2 class="nhsuk-related-nav__heading nhsuk-u-padding-bottom-3">
          More in <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/research/">Take part in coronavirus research</a>
        </h2>

        <nav role="navigation" class="nhsuk-related-nav__nav-section">
          <ul class="nhsuk-related-nav__list nhsuk-hub-sibling-nav__list">
            <li class="nhsuk-hub-sibling-nav__item  nhsuk-hub-sibling-nav--current">
              Coronavirus vaccine research
            </li>
          </ul>
        </nav>
      </div>

      <div class="nhsuk-review-date">
        <p class="nhsuk-body-s">
          Page last reviewed: 16 October 2020
          <br>
          Next review due: 23 October 2020
        </p>
      </div>

    </div>
  </div>
{% endblock %}
