{% extends 'layout.html' %}

{% set version = "v5" %}
{% set backLink = " " %}
{% set heading = "You are in a waiting area" %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>{{ heading }}</h1>

      <p>We are limiting the number of people who can sign up to be contacted at the same time.</p>

      <p>It may take a few minutes. Please wait.</p>

      <p>If you leave this page, you will leave the waiting area.</p>

      <p>You do not need to refresh this page. It will refresh automatically.</p>

    </div>
  </div>
{% endblock %}
