{% extends 'layout-email.html' %}

{% set version = "emails-v2" %}
{% set bodyClasses = "app-email-body" %}
{% set emailFrom = "contact-for.research@nhs.net" %}
{% set emailTo = "joe.bloggs@google.com" %}
{% set emailSubject = "NHS coronavirus vaccine studies: please sign up again" %}
{% set serviceName = "We could not sign you up to be contacted for coronavirus vaccine studies" %}

{% block beforeMain %}
{% endblock %}

{% block content %}

  <p>Thank you for starting to sign up to be contacted for coronavirus vaccine studies.</p>

  <p>Unfortunately there was a problem sending emails, so you were not able to finish signing up. The issue has now been fixed.</p>

  <p>Please sign up again at: <a href="/v4">https://www.nhs.uk/sign-up-to-be-contacted-for-research</a>.</p>

{% endblock %}
