{% extends 'layout.html' %}

{% set version = "v7" %}
{% set backLink = "ethnic-group" %}
{% set heading = "Which one best describes your Asian or Asian British background?" %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/{{ version }}/work2" method="post" class="form">

      {% set asianOtherHtml %}
        {{ input({
          id: "ethnicity-other",
          name: "ethnicity-other",
          classes: "nhsuk-u-width-two-thirds",
          label: {
            text: "Your Asian background (optional)"
          }
        }) }}
      {% endset -%}

      {{ radios({
        idPrefix: "ethnic-background",
        name: "ethnic-background",
        fieldset: {
          legend: {
            text: heading,
            isPageHeading: true,
            classes: "nhsuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "Bangladeshi",
            text: "Bangladeshi",
            checked: checked("ethnic-background", "Bangladeshi")
          },
          {
            value: "Chinese",
            text: "Chinese",
            checked: checked("ethnic-background", "Chinese")
          },
          {
            value: "Indian",
            text: "Indian",
            checked: checked("ethnic-background", "Indian")
          },
          {
            value: "Pakistani",
            text: "Pakistani",
            checked: checked("ethnic-background", "Pakistani")
          },
          {
            value: "Another Asian background",
            text: "Another Asian background",
            checked: checked("ethnic-background", "Another Asian background"),
            conditional: {
              html: asianOtherHtml
            }
          },
          {
            divider: "or"
          },
          {
            value: "Prefer not to say",
            text: "Prefer not to say",
            checked: checked("ethnic-background", "Prefer not to say"),
            label: {
              classes: 'nhsuk-label'
            }
          }
        ]
      }) }}

      {{ details({
        "text": "Why we are asking this question",
        "HTML": "
          <p>We know coronavirus affects people from different ethnic groups differently.</p>
          <p>Knowing your ethnic group helps us make sure there is the right mix of people from different ethnic groups taking part in vaccine studies.</p>
          <p>This is so we can make sure any vaccines developed will work for everyone.</p>
        "
      }) }}

      {{ button({
        "text": "Continue"
      }) }}

      </form>

    </div>
  </div>
{% endblock %}
