{% extends 'layout-email-Welsh.html' %}

{% set version = "emails-v3-Welsh" %}
{% set bodyClasses = "app-email-body" %}
{% set emailFrom = "contact-for-research@nhsdigital.nhs.uk" %}
{% set emailTo = "joe.bloggs@google.com" %}
{% set emailSubject = "Diolch i chi am gofrestru'ch caniatâd i gymryd rhan mewn astudiaethau brechlyn coronafeirws" %}

{% block beforeMain %}
{% endblock %}

{% block content %}

  <p>Annwyl Joe Bloggs,</p>

  <p>Diolch. Rydych wedi rhoi eich caniatâd i ni gysylltu â chi ynglŷn â chymryd rhan mewn astudiaethau brechlyn coronafeirws.</p>

  <p>Astudiaethau brechlyn yw'r unig ffordd i ddod o hyd i frechlynnau effeithiol. Diolch am helpu'r GIG i achub bywydau.</p>

  <hr>

  <h2 class="nhsuk-heading-m">Beth fydd yn digwydd nesaf</h2>
  <p>Fe gewch e-bost os yw ymchwilwyr o'r farn y gallech fod yn addas ar gyfer eu hastudiaethau brechlyn coronafeirws. Efallai y bydd yr e-bost yn dod yn uniongyrchol gan ymchwilwyr, neu gan NHS Digital.</p>

  <p>Yn Lloegr, partner ymchwil y GIG yw'r Sefydliad Cenedlaethol ar gyfer Ymchwil Iechyd (NIHR). Mae'r NIHR yn gweithio gyda phartneriaid ymchwil cyfatebol y GIG yng Ngogledd Iwerddon, yr Alban a Chymru ar astudiaethau brechlyn. Os byddwch chi'n cofrestru i ni gysylltu â chi am astudiaethau brechlyn, dim ond ymchwilwyr ar astudiaethau a gymeradwywyd gan NIHR fydd yn gallu cysylltu â chi.</p>
  
  <p>Gallwch ddarganfod mwy o wybodaeth am yr astudiaethau brechlyn ar <a href="https://www.bepartofresearch.nihr.ac.uk/vaccine-studies/">wefan Bod yn Rhan o Ymchwil</a> NIHR.</p>

  <p>Nid oes unrhyw sicrwydd y cysylltir â chi i fod yn rhan o astudiaethau brechlyn. Os na chysylltir â chi, bydd hyn oherwydd bod gan ymchwilwyr eisoes y gymysgedd o bobl sydd eu hangen arnynt.</p>

  <p>Os bydd ymchwilydd yn gofyn ichi gymryd rhan yn eu hymchwil, nid oes rhaid i chi ddweud ie. Eich dewis chi ydyw.</p>

  <h3 class="nhsuk-heading-s">Cyswllt gan NHS Digital</h3>
  <p>Os gwnaethoch gytuno i NHS Digital gysylltu â chi ynglŷn â sut mae'r astudiaethau brechlyn coronafeirws yn mynd, a datblygiadau i'r gwasanaeth hwn gan gynnwys y cyfle i gymryd rhan mewn ymchwil iechyd, byddant yn cysylltu â chi pan fydd gwybodaeth newydd i'w rhannu. Byddwch yn gallu dad-danysgrifio ar unrhyw adeg.</p>
  <p>Darganfyddwch yn y polisi <a href="/privacy">preifatrwydd sut y bydd eich data yn cael ei brosesu gan ddefnyddio'r gwasanaeth hwn</a>.</p>

  <hr>

  <h2 class="nhsuk-heading-m">Tynnu eich caniatâd yn ôl</h2>
  <p>Darganfyddwch sut i <a href="/opt-out-v2-Welsh/confirm-email">dynnu'ch caniatâd yn ôl i ni gysylltu â chi ar gyfer astudiaethau brechlyn coronafeirws</a>.</p>

{% endblock %}
