{% extends 'layout-email-Welsh.html' %}

{% set version = "emails-v3-Welsh" %}
{% set bodyClasses = "app-email-body" %}
{% set emailFrom = "contact.for-research2@nhs.net" %}
{% set emailTo = "joe.bloggs@google.com" %}
{% set emailSubject = "Cadarnhewch eich cyfeiriad e-bost i ddatdanysgrifio" %}

{% block beforeMain %}
{% endblock %}

{% block content %}

  <p>Cadarnhewch eich cyfeiriad e-bost i dynnu eich caniatâd yn ôl i ni gysylltu â chi ar gyfer astudiaethau brechlyn coronafeirws trwy glicio ar y ddolen.</p>

  <p><a href="/opt-out-v2-Welsh/confirm-email">https://www.nhs.uk/sign-up-for-coronavirus-vaccine-research/email-confirmation/6e4c94de-8b47-4e2c-a82b-e4a99419a798</a></p>

  <p>Ar ôl 72 awr ni fydd y ddolen yn gweithio.</p>

{% endblock %}
