{% extends 'layout-email-Welsh.html' %}

{% set version = "emails-v3-Welsh" %}
{% set bodyClasses = "app-email-body" %}
{% set emailFrom = "contact-for-research@nhsdigital.nhs.uk" %}
{% set emailTo = "joe.bloggs@google.com" %}
{% set emailSubject = "Confirm your email address" %}

{% block beforeMain %}
{% endblock %}

{% block content %}

  <p>Cadarnhewch eich cyfeiriad e-bost i gofrestru er mwyn i ni gysylltu â chi ar gyfer astudiaethau brechlyn coronafeirws trwy glicio ar y ddolen.</p>

  <p><a href="/v5-Welsh/confirmed-email">https://www.nhs.uk/sign-up-for-coronavirus-vaccine-research/email-confirmation/6e4c94de-8b47-4e2c-a82b-e4a99419a798</a></p>

  <p>Ar ôl 72 awr ni fydd y ddolen yn gweithio</p>

{% endblock %}
