{% extends 'layout.html' %}

{% block pageTitle %}
  Social Media Sharing Buttons
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    href: "/docs",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1>Testing social media buttons</h1>

      <p>PTC 190 - Once a user has completed the sign-up journey they can easily share the link to the service through their social media channels.</p>

      <h2>Social Media Sharing</h2>

      <ul>
        <li><a href="/social/normal">Option 1: Normal</a></li>
        <li><a href="/social/inset">Option 2: Inset</a></li>
        <li><a href="/social/separate">Option 3: Separate</a></li>
        <li><a href="/social/notext">Option 4: No text</a></li>
      </ul>
 
     </div>
  </div>
{% endblock %}
