{% extends 'layout2.html' %}

{% block pageTitle %}
  Inset
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    href: "/docs",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}
  
<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">


        <h1a class="nhsuk-u-margin-bottom-4">Thank you,<br> you&#39;ve signed up to be contacted</h1a>

        <p class="nhsuk-body-l">
        <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" fill="none">
        <path stroke-width="4" stroke-linecap="round" stroke="#007f3b" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
        </svg>
        You've given permission to be contacted for taking part in coronavirus vaccine studies.</p>
  

      <p>Vaccine studies are the only way to find effective vaccines. Thank you for helping the NHS to save lives.</p>

      <p>We've sent you a confirmation email from 
        <br><strong>contact-for.research@nhs.net</strong>.</p>



      <h2>What happens next</h2>
      <p>You will get an email if researchers think you may be suitable for their coronavirus vaccine studies. The email may come directly from researchers, or from NHS Digital.</p>

      <p>In England, the research partner of the NHS is the National Institute for Health Research (NIHR). The NIHR is working with equivalent NHS research partners in Northern Ireland, Scotland and Wales on vaccine studies. If you sign up to be contacted about vaccine studies, only researchers on studies approved by NIHR will be able to contact you.</p>
<br>
      <p>
      <img src="/images/nihr.png" class="app-nihr-logo" alt="" >
      </p>
<br>

      <p>You can find out more information about the vaccine studies on NIHR's <a href="https://www.bepartofresearch.nihr.ac.uk/vaccine-studies/">Be Part of Research website</a>.</p>

      
      <div class="nhsuk-inset-text nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-5">
        <p>There is no guarantee you'll be contacted to be part of vaccine studies. If you are not contacted, this will be because researchers already have the mix of people they need.</p>
      </div>
      
      <p>If a researcher asks you to take part in their study, you do not have to say yes. It's your choice.</p>
      
      <h3>Contact from NHS Digital</h3>
      <p>If you agreed to NHS Digital contacting you about how the coronavirus vaccine studies are going, and developments to this service including the chance to take part in other health research, they will contact you when there's new information to share. You will be able to unsubscribe at any time.</p>
      
      <div class="nhsuk-inset-text nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-5">
        <p>Find out in the privacy policy <a href="#">how your data will be processed using this service</a>.</p>
      </div>
      
      <h2>Withdraw your permission</h2>
      <p>Find out how to <a href="/opt-out-v2/confirm-email">withdraw your permission to be contacted for coronavirus vaccine studies</a>.</p>


<div class="nhsuk-inset-text">
  <span class="nhsuk-u-visually-hidden">Information: </span>
  <h3>Support vaccine research</h3>
    <p>Researchers need volunteers to take part in studies to find out which possible new vaccine works best.</p>
    <p>Encourage others to sign up to vaccine research by sharing this page on social media.</p>


<div class="nhsuk-u-padding-bottom-3"></div>

<h6>SHARE ON SOCIAL MEDIA</h6>
<p>

<img width="40px" src="/images/facebook.svg"></img> Facebook &nbsp;&nbsp;&nbsp;&emsp;&emsp; 
<img width="40px" src="/images/twitter.svg"></img> Twitter
<p>

<img width="40px" src="/images/email.svg"></img> Email &emsp;&emsp;&nbsp;&nbsp;&emsp;&emsp;
<img width="40px" src="/images/whatsapp.svg"></img> Whatsapp
<p>


</div>




















{% endblock %}
