{% extends 'layout-email.html' %}

{% set version = "emails-v3" %}
{% set bodyClasses = "app-email-body" %}
{% set emailFrom = "contact.for-research2@nhs.net" %}
{% set emailTo = "joe.bloggs@google.com" %}
{% set emailSubject = "Confirm your email address" %}

{% block beforeMain %}
{% endblock %}

{% block content %}

  <p>Confirm your email address to sign up to be contacted for coronavirus vaccine studies by clicking the link.</p>

  <p><a href="/v5/confirmed-email">https://www.nhs.uk/sign-up-for-coronavirus-vaccine-research/email-confirmation/6e4c94de-8b47-4e2c-a82b-e4a99419a798</a></p>

  <p>After 72 hours the link will not work.</p>

{% endblock %}
