{% extends 'layout-Welsh.html' %}

{% set version = "v5-Welsh" %}
{% set heading = "Mae’r ddolen e-bost cadarnhau wedi dod i ben" %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block beforeMain %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">{{ heading }}</h1>

      <p>Mae'r ddolen wedi dod i ben oherwydd:</p>
      <ul>
        <li>bu’n hwy na 72 awr ers i ni anfon yr e-bost, neu</li>
        <li>rydym wedi anfon e-bost cadarnhau arall atoch ers hynny</li>
      </ul>

      <p>I gadarnhau eich cyfeiriad e-bost, mae angen i chi <a href='/{{ version }}/email'>gofnodi'ch cyfeiriad e-bost eto</a>.</p>

    </div>
  </div>
{% endblock %}
