{% extends 'layout-nhs-website.html' %}

{% set version = "v5-Welsh" %}
{% set heading = "Ymchwil brechlyn coronafeirws" %}

{% block beforeMain %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>{{ heading }}</h1>

      <p>Brechlynnau yw'r ffordd fwyaf effeithiol i atal afiechydon heintus.</p> 
      <p>Fe'u dyluniwyd fel nad ydynt yn rhoi'r haint i bobl y maent yn amddiffyn yn ei erbyn.</p>
      <p>Ymchwil i frechlynnau yw'r unig ffordd i ddarganfod pa frechlynnau fydd yn gweithio. Mae ymchwilwyr angen i bobl gymryd rhan yn eu hastudiaethau fel y gallant ddarganfod pa frechlyn newydd posibl sy'n gweithio orau.</p>

      <div class="nhsuk-inset-text">
        <p>Ar y dudalen hon gallwch gofrestru i ni gysylltu â chi ynglŷn â chymryd rhan mewn astudiaethau brechlyn coronafeirws cymeradwy yn y DU. Mae hyn yn golygu y byddwch chi'n ymuno â chofrestrfa ymchwil brechlyn COVID-19.</p>
      </div>

      <h2>Beth mae astudiaethau brechlyn yn eu cynnwys</h2>
      <p>Profir brechlynnau i sicrhau eu bod yn ddiogel cyn cael eu profi ar bobl. Os cymerwch ran mewn astudiaeth brechlyn, efallai y cynigir y brechlyn ichi ond ‘run modd, efallai na chynigir y brechlyn i chi.</p> 
      <p>Bydd angen i chi ymweld â'r ysbyty, neu safle ymchwil arall, ychydig o weithiau dros 6 i 12 mis.</p> 
      <p>Yn ystod yr ymweliadau hyn, byddwch chi fel arfer:</p>
      <ul>
        <li>yn cael gwybod am yr astudiaeth ymchwil</li>
        <li>yn cael cyfle i ofyn unrhyw gwestiynau</li>
        <li>yn cael profion gwaed</li>
      </ul>
      <p>Rhwng ymweliadau, gofynnir ichi ddweud wrth y tîm ymchwil am unrhyw symptomau sydd gennych. Efallai y bydd angen i chi wneud rhai pethau gartref, fel cymryd swab gwddf a thrwyn bob wythnos, neu gadw dyddiadur.</p>

      <h2>Pwy sy'n cynnal astudiaethau brechlyn coronafeirws</h2>
      <p>Yn Lloegr, partner ymchwil y GIG yw'r Sefydliad Cenedlaethol ar gyfer Ymchwil Iechyd (NIHR). Mae'r NIHR yn gweithio gyda phartneriaid ymchwil cyfatebol y GIG yng Ngogledd Iwerddon, yr Alban a Chymru ar astudiaethau brechlyn.</p>
      <p>Os byddwch chi'n cofrestru i ni gysylltu â chi ynghylch astudiaethau brechlyn, dim ond ymchwilwyr ar astudiaethau a gymeradwywyd gan NIHR fydd yn gallu cysylltu â chi.</p>

      <section id="">
  
        <figure class="nhsuk-image">
          <img class="nhsuk-image__img" src="/images/nihr-logo.png" sizes="
              (min-width: 1020px) 320px
              (min-width: 768px) 50vw
              100vw
            " srcset="
              https://assets.nhs.uk/prod/images/nihr-logo2.width-320.png 320w,
              https://assets.nhs.uk/prod/images/nihr-logo2.width-510.png 510w,
              https://assets.nhs.uk/prod/images/nihr-logo2.width-640.png 640w,
              https://assets.nhs.uk/prod/images/nihr-logo2.width-767.png 767w,
              https://assets.nhs.uk/prod/images/nihr-logo2.width-1019.png 1019w,
              https://assets.nhs.uk/prod/images/nihr-logo2.width-1125.png 1125w,
              https://assets.nhs.uk/prod/images/nihr-logo2.width-1534.png 1534w,
            " alt="Logo image for the National Institute for Health Research">
          
          
        </figure>
        
        </section>

      <p>Ar hyn o bryd mae 2 astudiaeth brechlyn coronafeirws genedlaethol wedi'u cymeradwyo gan NIHR yn y DU, sy'n cael eu rhedeg gan Brifysgol Rhydychen a Choleg Imperial Llundain.</p> 
      <p>Gallwch ddarganfod mwy am gymryd rhan yn yr astudiaethau brechlyn hyn ar wefan <a href="https://www.bepartofresearch.nihr.ac.uk/">Bod yn Rhan o Ymchwil</a> NIHR.</p>
      <p>Mae rheolau llym ar ddiogelwch a chyfrinachedd y mae'n rhaid i bob ymchwil iechyd, gan gynnwys astudiaethau brechlyn, eu dilyn.</p> 

      <h2>Sut ydw i’n cofrestru?</h2>
      <p>Gallwch gofrestru ar-lein.</p>
      <p>Byddwn yn gofyn rhai cwestiynau i chi amdanoch chi'ch hun, ac yna'n gofyn eich caniatâd i ymchwilwyr ar yr astudiaethau brechlyn gysylltu â chi.</p>
      <p>Os byddwch chi'n cofrestru, bydd eich manylion yn cael eu cadw'n ddiogel. Dim ond gydag ymchwilwyr sy'n meddwl y gallech fod yn addas ar gyfer astudiaeth y maent yn gweithio arni y byddant yn cael eu rhannu.</p>
      <p>Yna bydd yr ymchwilwyr yn cysylltu â chi i ddweud mwy wrthych amdani.</p>
      <p>Nid oes raid i chi siarad ag ymchwilwyr na chymryd rhan mewn astudiaeth. Eich dewis chi ydyw. Os ydych chi'n cofrestru, gallwch dynnu'ch caniatâd yn ôl ar unrhyw adeg.</p>

      {{ actionLink({
        "text": "Cofrestrwch i ni gysylltu â chi ar gyfer astudiaethau brechlyn coronafeirws",
        "href": "/v5-Welsh/"
      }) }}

      <p>Os oes gennych gwestiynau am gofrestru, gweler <a href="get-help-with-signing-up-for-contact-for-coronavirus-vaccine-studies">cael help i gofrestru i gysylltu â chi ar gyfer ymchwil brechlyn coronafeirws</a>.</p>

      <aside class="nhsuk-grid-column">
        <div id="sibling-nav" class="nhsuk-related-nav nhsuk-hub-sibling-nav nhsuk-u-padding-top-2">
          <h2 class="nhsuk-related-nav__heading nhsuk-u-padding-bottom-3">
              More in <a href="#">Take part in coronavirus research</a>
          </h2>
          <nav role="navigation" class="nhsuk-related-nav__nav-section">
            <ul class="nhsuk-related-nav__list nhsuk-hub-sibling-nav__list">
              <li class="nhsuk-hub-sibling-nav__item  nhsuk-hub-sibling-nav--current">
                Coronavirus vaccine research
              </li>
            </ul>
          </nav>
        </div>
      </aside>

      <div class="nhsuk-review-date">
        <p class="nhsuk-body-s">
          Page last reviewed: 17 July 2020
          <br>
          Next review due: 24 July 2020
        </p>
      </div>

    </div>
  </div>
{% endblock %}
