{% extends 'layout-Welsh.html' %}

{% set version = "v7-Welsh" %}
{% set heading = "Diolch i chi, rydych chi wedi cofrestru i ni gysylltu â chi" %}

{% block beforeMain %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-alert nhsuk-alert--success">
        <h1 class="nhsuk-u-margin-bottom-4">{{ heading }}</h1>
        <p class="nhsuk-body-l">Rydych chi wedi rhoi caniatâd i ni gysylltu â chi i gymryd rhan mewn astudiaethau brechlyn coronafeirws.</p>
      </div>

      <p>Astudiaethau brechlyn yw'r unig ffordd i ddod o hyd i frechlynnau effeithiol. Diolch am helpu'r GIG i achub bywydau.</p>

      <p>Rydym wedi anfon e-bost cadarnhau atoch oddi wrth 
      <br><strong>contact.for-research2@nhs.net</strong>.</p>
      
      <h2>Beth sy'n digwydd nesaf</h2>
      <p>Fe gewch e-bost os yw ymchwilwyr o'r farn y gallech fod yn addas ar gyfer eu hastudiaethau brechlyn coronafeirws. Efallai y bydd yr e-bost yn dod yn uniongyrchol gan ymchwilwyr, neu gan NHS Digital.</p>

      <p>Yn Lloegr, partner ymchwil y GIG yw'r Sefydliad Cenedlaethol ar gyfer Ymchwil Iechyd (NIHR). Mae'r NIHR yn gweithio gyda phartneriaid ymchwil cyfatebol y GIG yng Ngogledd Iwerddon, yr Alban a Chymru ar astudiaethau brechlyn. Os ydych chi'n cofrestru i ni gysylltu â chi ynghylch astudiaethau brechlyn, dim ond ymchwilwyr ar astudiaethau a gymeradwywyd gan NIHR fydd yn gallu cysylltu â chi.</p>

      <img src="/images/nihr-logo.png" class="app-nihr-logo" alt="" >

      <p>Gallwch ddarganfod mwy o wybodaeth am yr astudiaethau brechlyn ar wefan <a href="https://www.bepartofresearch.nihr.ac.uk/vaccine-studies/">Be Part of Research</a> NIHR.</p>

      <div class="nhsuk-inset-text nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-5">
        <p>Nid oes unrhyw sicrwydd y cysylltir â chi i fod yn rhan o astudiaethau brechlyn. Os na chysylltir â chi, bydd hyn oherwydd bod gan ymchwilwyr eisoes y gymysgedd o bobl sydd eu hangen arnynt.</p>
      </div>

      <p>Os bydd ymchwilydd yn gofyn ichi gymryd rhan yn eu hastudiaeth, nid oes rhaid i chi ddweud ie. Eich dewis chi ydyw.</p>

      <h3>Cyswllt gan NHS Digital</h3>
      <p>Os gwnaethoch gytuno i NHS Digital gysylltu â chi ynglŷn â sut mae'r astudiaethau brechlyn coronafeirws yn mynd, a datblygiadau i'r gwasanaeth hwn gan gynnwys y cyfle i gymryd rhan mewn ymchwil iechyd arall, byddant yn cysylltu â chi pan fydd gwybodaeth newydd i'w rhannu. Byddwch yn gallu dad-danysgrifio unrhyw amser.</p>

      <div class="nhsuk-inset-text nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-5">
        <p>Darganfyddwch yn y polisi preifatrwydd <a href="/privacy">sut y bydd eich data yn cael ei brosesu gan ddefnyddio'r gwasanaeth hwn</a>.</p>
      </div>

      <h2>Tynnu eich caniatâd yn ôl</h2>
      <p>Darganfyddwch sut i <a href="/opt-out-v2-Welsh/confirm-email">dynnu'ch caniatâd yn ôl i ni gysylltu â chi ar gyfer astudiaethau brechlyn coronafeirws</a>.</p>

      <p class="nhsuk-body-s nhsuk-u-margin-top-9"><a href="/emails-v3-Welsh/confirmation">See confirmation email (prototype only)</a></p>

    </div>
  </div>
{% endblock %}
