{% extends 'layout-Welsh.html' %}

{% set version = "v7-Welsh" %}
{% set backLink = "country" %}
{% set heading = "Mae angen i ni gadarnhau eich cyfeiriad e-bost" %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-card nhsuk-card--blue nhsuk-u-padding-1">
        <div class="nhsuk-card__content">
          <h1 class="nhsuk-card__heading nhsuk-u-margin-bottom-5">{{ heading }}</h1>
          <p>Byddwn nawr:</p>
          <ul>
            <li>yn gofyn am eich cyfeiriad e-bost</li>
            <li>yna byddwn yn anfon e-bost atoch yn gofyn ichi ei gadarnhau</li>
          </ul>
          <p>Mae hyn er mwyn i ni allu gwirio eich bod wedi rhoi'r cyfeiriad e-bost cywir inni fel y gallwn anfon e-bost cadarnhau.</p>
          <form action="email" method="post">
            <input type="submit" class="nhsuk-button nhsuk-button--reverse nhsuk-u-margin-bottom-4" value="Parhewch">
          </form>
          <p>Bydd NHS Digital yn cadw'ch atebion yn ddiogel. <a href="/privacy" target="_blank" rel="noopener noreferrer">Darganfyddwch yn y polisi preifatrwydd sut y bydd eich data yn cael ei brosesu gan ddefnyddio'r gwasanaeth hwn<span class="nhsuk-u-visually-hidden"> - Tudalen yn agor mewn ffenestr newydd</span></a> (yn agor mewn ffenestr newydd).</p>
        </div>
      </div>

    </div>
  </div>
{% endblock %}
