{% extends 'layout-nhs-website-faq.html' %}

{% set version = "v7-Welsh" %}
{% set heading = "Cwestiynau cyffredin ynglŷn â chofrestru i ymchwilwyr gysylltu â chi ar gyfer astudiaethau brechlyn coronafeirws" %}



{% block beforeMain %}

{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>{{ heading }}</h1>

    </div>
  </div>
  <article>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">



        <section>

          <div class="block-expander_group">
    <div class="nhsuk-expander-group">



    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
        Sut alla’ i newid fy manylion unwaith rydw i wedi cofrestru?
        </span>
      </summary>
      <div class="nhsuk-details__text">

          <p>Nid oes yna ffordd i newid eich manylion ar hyn o bryd. Os oes angen ichi newid rhywbeth, er enghraifft os ydych chi wedi cael prawf coronafeirws positif, mae angen ichi dynnu’ch caniatâd yn ôl a chofrestru gan ddefnyddio’r gwasanaeth eto.</p>

      </div>
    </details>




    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
        Sut alla’ i dynnu fy nghaniatâd yn ôl os nad ydw i eisiau i rywun gysylltu â mi mwyach?
        </span>
      </summary>
      <div class="nhsuk-details__text">

          <p>Gallwch chi ddefnyddio’r gwasanaeth hwn i dynnu’ch caniatâd yn ôl ar unrhyw adeg. Mae’r ddolen i dynnu’ch caniatâd yn ôl hefyd yn yr e-bost cadarnhau a anfonwyd atoch chi pan wnaethoch chi gofrestru i ymchwilwyr gysylltu â chi ar gyfer ymchwil coronafeirws.</p>

      </div>
    </details>




    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
        Pwy sy’n cael gweld fy manylion os ydw i’n cofrestru i ymchwilwyr gysylltu â mi ar gyfer ymchwil coronafeirws?
        </span>
      </summary>
      <div class="nhsuk-details__text">

          <p>Dim ond ymchwilwyr sy’n gweithio ar astudiaethau sydd wedi’u cymeradwyo i ddigwydd yn y GIG fydd yn cael gweld eich manylion pan fyddwch chi’n cofrestru. Byddan nhw’n cyrchu’r wybodaeth hon yn uniongyrchol trwy NHS Digital, sy’n dal y wybodaeth yn ddiogel.</p>

      </div>
    </details>




    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
        Oes yn rhaid i mi gymryd rhan mewn astudiaeth os ydw i’n cofrestru i ymchwilwyr gysylltu â mi?
        </span>
      </summary>
      <div class="nhsuk-details__text">

          <p>Nac oes. Trwy gofrestru i ymchwilwyr gysylltu â chi, rydych chi’n caniatáu i ymchwilwyr gysylltu â chi ynglŷn ag astudiaethau penodol. Byddan nhw’n rhoi rhagor o wybodaeth ichi am yr astudiaeth, ac rydych chi’n gallu gofyn cwestiynau. Yna, gallwch chi ddewis a ydych chi eisiau cymryd rhan ai peidio. Eich dewis chi ydy hyn.</p>

      </div>
    </details>




    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
        Rydw i’n ymchwilydd; alla’ i weld y wybodaeth am bobl sydd wedi cofrestru?
        </span>
      </summary>
      <div class="nhsuk-details__text">

          <p>Dim ond ymchwilwyr sy’n gweithio ar astudiaethau brechlyn coronafeirws penodol sy’n cael gweld y wybodaeth hon. Os oes gennych chi unrhyw ymholiadau ynglŷn â hyn, <a href="https://bepartofresearch.nihr.ac.uk/about/#contact-form">defnyddiwch y ffurflen gyswllt ar wefan Be Part of Research</a>.</p>

      </div>
    </details>




    </div>
    </div>
        </section>

        <section>

              <div class="block-inset_text"><div class="nhsuk-inset-text">
          <span class="nhsuk-u-visually-hidden">Gwybodaeth: </span>
          <h2>Rhagor o wybodaeth</h2><p>Cael gwybod mwy am:</p><ul><li>gymryd rhan mewn ymchwil iechyd ar wefan <a href="https://bepartofresearch.nihr.ac.uk/taking-part/why-take-part/">Be Part of Research</a></li><li>sut y mae <a href="/conditions/clinical-trials/">clinical trials</a> yn cael eu rhedeg</li><li><a href="https://www.wales.nhs.uk/ourservices">NHS Wales</a></li></ul>
        </div>
        </div>
            </section>



    <div class="nhsuk-review-date">
      <p class="nhsuk-body-s">
        Page last reviewed: 16 October 2020<br>
        Next review due: 23 October 2020
      </p>
    </div>

      </div>

    </div>
  </article>
{% endblock %}
