{% extends 'layout-nhs-website.html' %}

{% set version = "v7-Welsh" %}
{% set heading = "Ymchwil brechlyn coronafeirws" %}

{% block beforeMain %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>{{ heading }}</h1>

      <p>Brechlynnau ydy’r ffordd fwyaf effeithiol o atal heintiau fel coronafeirws (COVID-19).</p>
      <p>Mae ar ymchwilwyr angen pobl i gymryd rhan yn eu hastudiaethau fel eu bod nhw’n ddysgu pa frechlyn newydd posibl sy’n gweithio orau.</p>
      <p>Ar y dudalen hon, gallwch chi gofrestru i ymchwilwyr gysylltu â chi ynglŷn â chymryd rhan mewn astudiaethau brechlyn coronafeirws cymeradwy y DU. Mae hyn yn golygu y byddwch chi’n ymuno â’r gofrestrfa brechlyn COVID-19.</p>

      <h2>Beth fydd cofrestru i ymchwilwyr gysylltu â chi yn galw amdano</h2>
      <p>Gallwch chi gofrestru ar-lein. Byddwn ni’n gofyn rhai cwestiynau ichi ynglŷn â’ch hun, ac yna’n gofyn am eich caniatâd i ymchwilwyr ar yr astudiaethau brechlyn gysylltu â chi.</p>
      <p>Os byddwch chi’n cofrestru, cedwir eich manylion yn ddiogel. Caiff y rhain eu rhannu ag ymchwilwyr sy’n meddwl y gallech chi fod yn addas ar gyfer astudiaeth y maen nhw’n gweithio arni yn unig. Bydd yr ymchwilwyr yna’n cysylltu â chi i ddweud mwy am yr astudiaeth, ac i ateb unrhyw gwestiynau sydd gennych chi.</p>
      <p>Os byddwch chi’n cofrestru i ymchwilwyr gysylltu â chi, nid oes yn rhaid ichi gymryd rhan mewn astudiaeth na siarad ag ymchwilwyr. Eich dewis chi ydy hyn.</p>
      <p>Gallwch chi dynnu’ch caniatâd yn ôl ar unrhyw adeg.</p>

      {{ actionLink({
        "text": "Cofrestru i ymchwilwyr gysylltu â chi ar gyfer astudiaethau brechlyn coronafeirws",
        "href": "/v7-Welsh/"
      }) }}

      <h2>Ynglŷn ag astudiaethau brechlyn</h2>
      <section id="about-vaccine-studies">


<div class="nhsuk-expander-group">



<details class="nhsuk-details nhsuk-expander" nhsuk-polyfilled="true" id="nhsuk-details0">
  <summary class="nhsuk-details__summary" role="button" aria-controls="nhsuk-details__text0" tabindex="0" aria-expanded="false">
    <span class="nhsuk-details__summary-text">
    Pwy sy’n cael cofrestru i ymchwilwyr gysylltu â nhw ar gyfer astudiaethau brechlyn coronafeirws?
    </span>
  </summary>
  <div class="nhsuk-details__text" id="nhsuk-details__text0" aria-hidden="true">

      <p>Mae unrhyw un 18 oed neu hŷn sy’n byw yn y DU yn cael cofrestru i ymchwilwyr gysylltu â nhw ynglŷn â chymryd rhan mewn astudiaethau brechlyn coronafeirws. Nid oes unrhyw derfyn oedran uwch.</p>
      <p>Yn aml, mae angen i ymchwilwyr gynnwys pobl â gwahanol gyflyrau iechyd i weld sut y mae’r brechlyn yn gweithio. Os oes gennych chi gyflwr, mae’n bosibl y bydd yna astudiaethau y gallwch chi gymryd rhan ynddyn nhw.</p>

  </div>
</details>




<details class="nhsuk-details nhsuk-expander" nhsuk-polyfilled="true" id="nhsuk-details1">
  <summary class="nhsuk-details__summary" role="button" aria-controls="nhsuk-details__text1" tabindex="0" aria-expanded="false">
    <span class="nhsuk-details__summary-text">
    Beth y mae cymryd rhan mewn astudiaeth brechlyn yn galw amdano?
    </span>
  </summary>
  <div class="nhsuk-details__text" id="nhsuk-details__text1" aria-hidden="true">

      <p>Os byddwch chi’n cymryd rhan mewn astudiaeth brechlyn, bydd angen ichi ymweld â’r ysbyty, neu safle ymchwil arall, sawl tro dros 6 i 12 mis.</p>
      <ul>
        <li>yn cael gwybod am yr astudiaeth ymchwil</li>
        <li>yn cael y cyfle i ofyn unrhyw gwestiynau</li>
        <li>yn cael profion gwaed</li>
        <li>yn cael pigiad, a allai fod yn frechlyn neu beidio</li>
      </ul>
      <p>Rhwng ymweliadau, bydd gofyn ichi ddweud wrth y tîm ymchwil am unrhyw symptomau sydd gennych chi. Efallai y bydd angen ichi wneud rhai pethau gartref, fel cymryd swab o’r gwddf neu’r trwyn bob wythnos, neu gadw dyddiadur.</p>

  </div>
</details>




<details class="nhsuk-details nhsuk-expander" nhsuk-polyfilled="true" id="nhsuk-details2">
  <summary class="nhsuk-details__summary" role="button" aria-controls="nhsuk-details__text2" tabindex="0" aria-expanded="false">
    <span class="nhsuk-details__summary-text">
    Ydy astudiaethau brechlyn yn ddiogel?
    </span>
  </summary>
  <div class="nhsuk-details__text" id="nhsuk-details__text2" aria-hidden="true">

      <p>Mae brechlynnau’n cael eu rhoi ar brawf i wneud yn siŵr eu bod nhw’n ddiogel cyn eu rhoi ar brawf mewn pobl.</p>
      <p>Bydd nifer y bobl y bydd y brechlyn yn cael ei roi ar brawf arnyn nhw’n dibynnu ar gyfnod yr astudiaeth. Byddwch chi fel rheol yn cael gwybod faint o bobl sydd wedi’u profi cyn ichi benderfynu cymryd rhan mewn astudiaeth.</p>
      <p>Ni fydd y brechlyn yn rhoi coronafeirws ichi. Mae brechlynnau wedi’u dylunio fel nad ydyn nhw'n achosi’r haint.</p>
      <p>Mae yna bosibilrwydd y bydd yna sgil-effeithiau. Mae sgil-effeithiau cyffredin yn cynnwys:</p>
      <ul>
        <li>briw, cochni a chwydd yn safle’r pigiad</li>
        <li>blinder</li>
        <li>cyhyrau poenus</li>
        <li>gwres uchel</li>
      </ul>
      <p>Gall y rhain bara am ychydig o ddiwrnodau ac maen nhw fel rheol yn gwella ohonyn nhw eu hunain.</p>

  </div>
</details>




<details class="nhsuk-details nhsuk-expander" nhsuk-polyfilled="true" id="nhsuk-details3">
  <summary class="nhsuk-details__summary" role="button" aria-controls="nhsuk-details__text3" tabindex="0" aria-expanded="false">
    <span class="nhsuk-details__summary-text">
    A fydd gofyn i mi gymryd rhan mewn astudiaeth sy’n bell i ffwrdd?
    </span>
  </summary>
  <div class="nhsuk-details__text" id="nhsuk-details__text3" aria-hidden="true">

      <p>Mae ymchwil brechlyn coronafeirws yn mynd rhagddi ledled y DU, felly mae’n debygol y bydd yna rywfaint o ymchwil yn digwydd yn agos atoch chi.</p>
      <p>Os ydy ymchwilwyr yn gofyn ichi gymryd rhan mewn astudiaeth, gallwch chi wrthod os ydych chi’n teimlo’i bod yn rhy bell i ffwrdd.</p>

  </div>
</details>




<details class="nhsuk-details nhsuk-expander" nhsuk-polyfilled="true" id="nhsuk-details4">
  <summary class="nhsuk-details__summary" role="button" aria-controls="nhsuk-details__text4" tabindex="0" aria-expanded="false">
    <span class="nhsuk-details__summary-text">
    Pwy sy’n rhedeg astudiaethau brechlyn coronafeirws?
    </span>
  </summary>
  <div class="nhsuk-details__text" id="nhsuk-details__text4" aria-hidden="true">

      <p>Yn Lloegr, y Sefydliad Cenedlaethol dros Ymchwil Iechyd (NIHR) ydy partner ymchwil y GIG. Mae’r NIHR yn gweithio gyda phartneriaid ymchwil GIG cyfatebol yng Nghymru, Gogledd Iwerddon a’r Alban ar astudiaethau brechlyn.</p>
      <p>Os byddwch chi’n cofrestru i ymchwilwyr gysylltu â chi ynglŷn ag astudiaethau ymchwil, dim ond ymchwilwyr ar astudiaethau y mae’r NIHR wedi’u cymeradwyo fydd yn gallu cysylltu â chi.</p>
      <p>Gallwch chi weld mwy am yr astudiaethau brechlyn hyn ar wefan <a href="#">Bod yn Rhan o Ymchwil</a> yr NIHR.</p>
      <p>Mae yna reolau pendant ynglŷn â diogelwch a chyfrinachedd y mae’n rhaid i bob ymchwil iechyd, gan gynnwys astudiaethau brechlyn, eu dilyn.</p>
  </div>
</details>




<details class="nhsuk-details nhsuk-expander" nhsuk-polyfilled="true" id="nhsuk-details5">
  <summary class="nhsuk-details__summary" role="button" aria-controls="nhsuk-details__text5" tabindex="0" aria-expanded="false">
    <span class="nhsuk-details__summary-text">
    Sut mae astudiaethau’n cael eu cymeradwyo?
    </span>
  </summary>
  <div class="nhsuk-details__text" id="nhsuk-details__text5" aria-hidden="true">

      <p>Protocol ydy’r enw ar y cynllun cyffredinol ar gyfer astudiaeth ymchwil. Cyn y mae astudiaeth yn cael dechrau, rhaid i grŵp o ymchwilwyr o’r tu allan i’r astudiaeth gymeradwyo’r protocol.</p>
      <p>Bydd pwyllgor moeseg ymchwil annibynnol hefyd yn adolygu’r protocol. Mae’r pwyllgor hwn yn gyfrifol am ofalu am eich hawliau, eich diogelwch, eich urddas a’ch llesiant tra’ch bod yn cymryd rhan mewn ymchwil. Mae hefyd yn gallu penderfynu a yw’n bosibl bwrw ymlaen â’r astudiaeth ai peidio.</p>
      <p>Ni chaniateir i ymchwilwyr newid y protocol heb roi gwybod i’r pwyllgor moeseg. Gall y pwyllgor moeseg atal astudiaeth ar unrhyw adeg os oes ganddo unrhyw bryderon ynglŷn â llesiant y bobl sy’n cymryd rhan ynddi.</p>

  </div>
</details>

</div>

</section>

<p>Os oes gennych chi gwestiynau ynglŷn â chofrestru, gwelwch <a href="/v5-Welsh/get-help-with-signing-up-for-contact-for-coronavirus-vaccine-studies">atebion i gwestiynau cyffredin ynglŷn â chofrestru ar gyfer ymchwil brechlyn coronafeirws</a>.</p>


      <figure class="nhsuk-image">
        <img class="nhsuk-image__img" src="/images/nihr-logo.png" sizes="
            (min-width: 1020px) 320px
            (min-width: 768px) 50vw
            100vw
          " srcset="
            https://assets.nhs.uk/prod/images/nihr-logo2.width-320.png 320w,
            https://assets.nhs.uk/prod/images/nihr-logo2.width-510.png 510w,
            https://assets.nhs.uk/prod/images/nihr-logo2.width-640.png 640w,
            https://assets.nhs.uk/prod/images/nihr-logo2.width-767.png 767w,
            https://assets.nhs.uk/prod/images/nihr-logo2.width-1019.png 1019w,
            https://assets.nhs.uk/prod/images/nihr-logo2.width-1125.png 1125w,
            https://assets.nhs.uk/prod/images/nihr-logo2.width-1534.png 1534w,
          " alt="Logo image for the National Institute for Health Research">
      </figure>

      {{ actionLink({
        "text": "Cofrestru i ymchwilwyr gysylltu â chi ar gyfer astudiaethau brechlyn coronafeirws",
        "href": "/v7-Welsh/"
      }) }}

      <div class="nhsuk-review-date">
        <p class="nhsuk-body-s">
          Page last reviewed: 16 October 2020
          <br>
          Next review due: 23 October 2020
        </p>
      </div>

    </div>
  </div>
{% endblock %}
