{% extends 'layout-Welsh.html' %}

{% set version = "v5-welsh" %}
{% set heading = "Datganiad Hygyrchedd" %}

{% block beforeMain %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>{{ heading }}</h1>

      <p>Mae'r datganiad hygyrchedd hwn yn berthnasol i'r cofrestriad i ni gysylltu â chi ar gyfer gwasanaeth astudiaethau brechlyn coronavirus (<a href="https://www.nhs.uk/sign-up-to-be-contacted-for-research">https://www.nhs.uk/sign-up-to-be-contacted-for-research</a>) sy'n cael ei redeg gan NHS Digital.</p>

      <p>Rydym am i gynifer o bobl â phosibl allu defnyddio'r wefan hon. Mae hyn yn golygu y dylech chi allu:</p>

      <ul>
        <li>newid lliwiau, lefelau cyferbyniad a ffontiau gan ddefnyddio ymarferoldeb porwr</li>
        <li>chwyddo hyd at 400 y cant heb i'r testun ollwng oddi ar y sgrin</li>
        <li>llywio’r rhan fwyaf o'r wefan gan ddefnyddio bysellfwrdd yn unig</li>
        <li>llywio’r rhan fwyaf o'r wefan gan ddefnyddio meddalwedd adnabod lleferydd</li>
        <li>rhyngweithio â'r rhan fwyaf o'r wefan gan ddefnyddio darllenydd sgrin (gan gynnwys fersiynau diweddar o JAWS, NVDA a VoiceOver)</li>
      </ul>

      <p>Rydym hefyd yn ceisio gwneud testun y wefan mor syml â phosibl i'w ddeall.</p>

      <p>Os oes gennych anabledd, <a href="https://mcmw.abilitynet.org.uk/">mae gan AbilityNet gyngor ar wneud eich dyfais yn haws i'w defnyddio</a>.</p>

      <h2>Pa mor hygyrch yw'r wefan hon</h2>

      <p>Rydym yn gwybod nad yw rhai rhannau o'r wefan hon yn gwbl hygyrch:</p>

      <ul>
        <li>nid yw rhai fersiynau o VoiceOver ar iOS yn dweud wrthych a yw'r gydran fanylion (testun cymorth) wedi ehangu ai peidio</li>
      </ul>

      <p>Rydym yn cysylltu â gwefannau nad ydym yn berchen arnynt neu'n eu rheoli ac ni allwn warantu eu hygyrchedd.</p>

      <h2>Adborth a gwybodaeth gyswllt</h2>

      <p>Rydym bob amser yn ceisio gwella hygyrchedd y wefan hon. Cysylltwch â ni os oes gennych ymholiad hygyrchedd gan gynnwys:</p>

      <ul>
        <li>Problemau gyda chyrchu gwybodaeth neu ddefnyddio'r wefan hon</li>
        <li>Problem hygyrchedd nad yw wedi'i rhestru ar y datganiad hwn</li>
        <li>Unrhyw adborth cadarnhaol ynghylch hygyrchedd y wefan hon</li>
      </ul>

      <p>Mae'r gwasanaeth hwn wedi'i ddatblygu i ddiwallu anghenion yr ymchwil barhaus i frechlynnau coronafeirws, sy'n digwydd ar gyflymder a chyda sawl tîm ledled y wlad.</p>

      <p>Rhoddwyd y datrysiad digidol hwn ar waith i:</p>

      <ul>
        <li>recriwtio nifer fawr o bobl yn gyflym ar gyfer astudiaethau brechlyn coronafeirws</li>
        <li>lleihau'r baich ar feddygfeydd teulu i nodi darpar gyfranogwyr</li>
      </ul>

      <p>Bydd pobl nad ydynt yn defnyddio'r gwasanaeth digidol yn dal i allu cymryd rhan mewn ymchwil coronafeirws gan y bydd rhywun yn parhau i fynd atynt mewn lleoliadau clinigol. Mae'r gwasanaeth hwn yn caniatáu i ystod eang o gyfranogwyr fod yn rhan o ymchwil na fyddent fel arall yn gallu cofrestru ar ei chyfer oherwydd rhyngweithio cyfyngedig â'r gwasanaeth iechyd.</p>

      <p>Bydd recriwtio unigolion nad ydynt yn ddigidol i dreialon yn parhau ochr yn ochr â'r gwasanaeth hwn mewn modd cyflenwol. Nid ydym yn cysylltu'r gwasanaethau gan fod y gwasanaeth nad yw'n ddigidol yn cael ei yrru'n fwy gan glinigwyr mewn lleoliadau clinigol na'r cyhoedd yn cysylltu â chlinigwyr.</p>

      <h2>Gweithdrefn orfodi</h2>

      <p>Os ydych chi'n cysylltu â ni gyda chwyn ac nad ydych chi'n hapus â'n hymateb, <a href="https://www.equalityadvisoryservice.com/">cysylltwch â'r Gwasanaeth Cynghori a Chefnogaeth Cydraddoldeb (EASS)</a>.</p>

      <p>Mae'r Comisiwn Cydraddoldeb a Hawliau Dynol (EHRC) yn gyfrifol am orfodi Rheoliadau Hygyrchedd Cyrff Sector Cyhoeddus (Gwefannau a Chymwysiadau Symudol) (Rhif 2) 2018 (y "rheoliadau hygyrchedd").</p>

      <h2>Gwybodaeth dechnegol am hygyrchedd y wefan hon</h2>

      <p>Rydym wedi ymrwymo i wneud y wefan hon yn hygyrch, yn unol â Rheoliadau Hygyrchedd Cyrff Sector Cyhoeddus (Gwefannau a Chymwysiadau Symudol) (Rhif 2) 2018.</p>

      <h3>Statws cydymffurfio</h3>

      <p>Mae'r wefan hon yn cydymffurfio'n rhannol â safon 2.1 AA <a href="http://www.w3.org/TR/WCAG21/">Canllawiau Hygyrchedd Cynnwys Gwe</a>, oherwydd y diffyg cydymffurfio a restrir isod.</p>

      <h2>Cynnwys nad yw'n hygyrch</h2>

      <p>Rhestrir y cynnwys nad yw'n hygyrch isod ynghyd ag esboniad.</p>

      <h3>Diffyg cydymffurfio â'r rheoliadau hygyrchedd</h3>

      <h4>Ffurflenni</h4>

      <ul>
        <li>Ni ddarparwyd priodoleddau awtogwblhau ar gyfer rhai meysydd ffurflenni, sy'n golygu y bydd yn rhaid i ddefnyddwyr eu llenwi â llaw heb unrhyw gymhorthion ar y dudalen (Noder Pwrpas Mewnbwn 1.3.5)</li>
      </ul>

      <h2>Paratoi'r datganiad hygyrchedd hwn</h2>

      <p>Paratowyd y datganiad hwn ar 23 Medi 2020.</p>

      <p>Bydd hygyrchedd y wefan hon yn cael ei hadolygu'n rheolaidd. Byddwn yn diweddaru'r datganiad hygyrchedd hwn gydag unrhyw newidiadau perthnasol.</p>

    </div>
  </div>
{% endblock %}
