{% extends 'layout.html' %}

{% set version = "v7" %}
{% set heading = "Accessibility statement" %}

{% block beforeMain %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>{{ heading }}</h1>

      <p><a href="/v7">This service</a> is run by NHS Digital.</p>

      <p>We want everyone to be able to use this website.</p>
      <p>You should be able to:</p>
      <ul>
          <li>change colours, contrast levels and fonts</li>
          <li>zoom in up to 300% without the text spilling off the screen</li>
          <li>navigate most of the website using just a keyboard</li>
          <li>navigate most of the website using speech recognition software</li>
          <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
      </ul>

      <p>This website is fully compliant with the Web Content Accessibility Guidelines version 2.1 AA standard.</p>

      <h2>How accessible this website is</h2>
      <p>We know some parts of this website are not fully accessible:</p>
      <ul>
          <li>some versions of VoiceOver on iOS do not tell you if the details component (help text) has expanded or not</li>
      </ul>

      <h2>Enforcement procedure</h2>
      <p>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the accessibility regulations (in the <a href="https://www.legislation.gov.uk/uksi/2018/852/contents/made">Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018</a>).</p>
      <p>If you're not happy with how we respond to your complaint, <a href="https://www.equalityadvisoryservice.com/app/ask">contact the Equality Advisory and Support Service (EASS)</a>.</p>
      <p>This statement was prepared on 27 April 2020.</p>
  </div>
  </div>
{% endblock %}
