{% extends 'layout.html' %}

{% set version = "v7" %}
{% set heading = "Accessibility statement" %}

{% block beforeMain %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>{{ heading }}</h1>

      <p>This accessibility statement applies to the sign up to be contacted for coronavirus vaccine studies service (<a href='/{{ version }}''>https://www.nhs.uk/sign-up-to-be-contacted-for-research</a>) which is run by NHS Digital.</p>

      <p>We want as many people as possible to be able to use this website. This means you should be able to:</p>

      <ul>
          <li>Change colours, contrast levels and fonts using browser functionality</li>
          <li>Zoom in up to 400 per cent without the text spilling off the screen</li>
          <li>Navigate most of the website using just a keyboard</li>
          <li>Navigate most of the website using speech recognition software</li>
          <li>Interact with most of the website using a screen reader (including recent versions of JAWS, NVDA and VoiceOver)</li>
      </ul>

      <p>We also try to make the website text as simple as possible to understand.</p>
      <p>If you have a disability, <a href="https://mcmw.abilitynet.org.uk/">AbilityNet has advice on making your device easier to use</a>.</p>

      <h2>How accessible this website is</h2>
      <p>We know some parts of this website are not fully accessible:</p>
      <ul>
          <li>The search bar component has insufficient colour contrast</li>
          <li>Content written in Welsh has not been programmatically defined as Welsh</li>
          <li>Some versions of VoiceOver on iOS do not tell you if the details component (help text) has expanded or not</li>
      </ul>
      <p>We link to websites we do not own or manage and cannot guarantee their accessibility.</p>

      <h2>Feedback and contact information</h2>

      <p>We are always looking to improve the accessibility of this website. <a href='https://www.nhs.uk/contact-us/nhs-website-contact-us'>Contact us</a> if you have an accessibility query including:</p>

      <ul>
          <li>Issues with accessing information or using this website</li>
          <li>An accessibility problem not listed on this statement</li>
          <li>Any positive feedback about this website’s accessibility</li>
      </ul>

      <p>This service has been developed to meet the needs of the on-going research into coronavirus vaccines, which is happening at pace and with multiple teams across the country.</p>

      <p>This digital solution has been put in place to:</p>

      <ul>
          <li>recruit large numbers of people quickly for coronavirus vaccine studies</li>
          <li>reduce the burden on GP practices to identify potential participants</li>
      </ul>

      <p>People who do not use the digital service will still be able to take part in coronavirus research as they will continue to be approached in clinical settings. This service allows a wide range of participants to be involved in research who may otherwise be unable to sign-up due to limited interaction with the health service.</p>

      <p>The non-digital recruitment of individuals to trials will continue alongside this service in a complementary manner. We are not linking the services as the non-digital service is more driven by clinicians in clinical settings than the general public contacting clinicians.</p>

      <h2>Enforcement procedure</h2>

      <p>If you contact us with a complaint and you are not happy with our response <a href='https://www.equalityadvisoryservice.com/'>contact the Equality Advisory and Support Service (EASS)</a>.</p>

      <p>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the "accessibility regulations").</p>

      <h2>Technical information about this website's accessibility</h2>

      <p>We're committed to making this website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>

      <h3>Compliance status</h3>

      <p>This website is partially compliant with the <a href='http://www.w3.org/TR/WCAG21/'>Web Content Accessibility Guidelines</a> version 2.1 AA standard, due to the non-compliances listed below.</p>

      <h2>Non-accessible content</h2>

      <p>The content that is not accessible is listed below together with an explanation.</p>

      <h3>Non-compliance with the accessibility regulations</h3>

      <h4>Forms</h4>
      <ul>
          <li>Users are not always notified when conditionally revealed content associated with a radio button is expanded or collapsed (Name, Role, Value 4.1.2)</li>
      </ul>

      <h4>Structure</h4>
      <ul>
          <li>Links and pages which are written in Welsh have not been identified using the correct language attribute (Language of Parts 3.1.2) and (Language of Page 3.1.1)</li>
      </ul>

      <h4>Colour</h4>
      <ul>
          <li>There is insufficient colour contrast on the search bar component regarding the place holder text and visible focus indicator (Contrast 3.4.3) and (Non-Text Contrast 1.4.11)</li>
      </ul>

      <h3>What we're doing to improve accessibility</h3>

      <p>We plan to address the identified issues in Q1 2021.</p>

      <h2>Preparation of this accessibility statement</h2>

      <p>This statement was prepared on 18th December 2020.</p>

      <p>This website was last tested on 17th December 2020 by <a href="https://www.nomensa.com/">Nomensa</a> who manually audited all pages of the NHS's coronavirus vaccine studies service against all level A and AA success criteria from Web Content Accessibility Guidelines 2.1.</p>

  </div>
  </div>
{% endblock %}
