{% extends 'layout.html' %}

{% set version = "v7" %}
{% set heading = "Sign up to be contacted for coronavirus vaccine studies service: privacy policy" %}

{% block beforeMain %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
          <span role="text">
            {{ heading }}
              <span class="nhsuk-caption-xl nhsuk-caption--bottom">
                  <span class="nhsuk-u-visually-hidden"> - </span>
                  Version 2
              </span>
          </span>
      </h1>

      <h2 class="nhsuk-heading-m">About this policy</h2>

      <p>This privacy policy relates to the website (<a href="/v5">https://www.nhs.uk/sign-up-to-be-contacted-for-research/</a>) and service described in this privacy policy, which is provided by NHS Digital to enable members of the public to give permission to be contacted by researchers about taking part in approved coronavirus (Covid-19) vaccine studies in the UK. This service is referred to in this document as the 'Service'.</p>

      <p>In this privacy policy, 'we' or 'us' means NHS Digital. 'You' or 'your' means you, a member of the public who is using the Service.</p>

      <p>This privacy policy tells you what information NHS Digital collects and how it is used to provide the Service, including your rights and how to contact us.</p>

      <p>Learn more about <a href="#">coronavirus (COVID-19)</a>.</p>

      <h2 class="nhsuk-heading-m">The Service and who we are </h2>

      <p>The Service allows you to:</p>

      <ol>
          <li>give your permission for NHS Digital to share the details you have provided through the Service with researchers of approved UK coronavirus vaccine studies for the purposes of researchers contacting you about taking part in those vaccine studies.</li>
          <li class="nhsuk-u-margin-top-4">
              give your permission to be contacted by NHS Digital about
              <ul class="nhsuk-u-margin-top-3">
                  <li>the progress and outcomes of the coronavirus vaccine studies; and</li>
                  <li>future developments in the Service, including to provide opportunities for you to take part in other types of health research.</li>
              </ul>
          </li>
          <li>withdraw your permissions to be contacted.</li>
      </ol>

      <p>Using the information you provide to NHS Digital through the Service, we will identify whether you may be suitable for particular approved UK coronavirus vaccine studies. Your details will then be shared with researchers of relevant studies so they can contact you to ask you to take part in their studies.</p>

      <p>You are not providing permission to <strong>take part</strong> in these vaccine studies through the Service – the researchers will ask for your permission to take part once they have contacted you. There is no obligation for you to take part and you can change your mind at any time.</p>

      <p>In the UK, the research partner of the NHS is the <a href="https://www.nihr.ac.uk/">National Institute of Health Research</a> (NIHR). If you sign up to be contacted about vaccine studies through this Service, only researchers on studies supported by NIHR will be able to contact you. By volunteering in this way, you will be helping researchers to carry out their studies more efficiently.</p>

      <p>The Health and Social Care Information Centre, known as NHS Digital, was set up under the Health and Social Care Act 2012 (2012 Act) and is part of the NHS in England. We securely collect, analyse and share information to improve health and social care services. <a href="https://digital.nhs.uk/about-nhs-digital">Find out more about NHS Digital</a>.</p>

      <p>This includes working with the NIHR and researchers to collect and share data to support health research into coronavirus and other health conditions. Find out more about NIHR and research at the <a href="https://www.bepartofresearch.nihr.ac.uk/">Be Part of Research</a> website.</p>

      <h2 class="nhsuk-heading-m">Our legal basis for collecting, analysing, and sharing personal information</h2>

      <p>NHS Digital is the controller for the personal information collected and processed about you as part of this Service under the General Data Protection Regulation (GDPR) and Data Protection Act 2018 (DPA18).</p>

      <h3 class="nhsuk-heading-s">Personal information about residents in England</h3>

      <p>NHS Digital is a controller jointly with the Secretary of State for Health and Social Care, who has legally directed NHS Digital to operate IT systems and to collect, analyse and share information to support the response to the coronavirus outbreak in England. This includes operating the Service. The <a href="https://digital.nhs.uk/about-nhs-digital/corporate-information-and-documents/directions-and-data-provision-notices/secretary-of-state-directions/covid-19-public-health-directions-2020">COVID-19 Public Health Directions 2020 (COVID-19 Directions)</a> are made under the 2012 Act. A direction is a legally binding document.</p>

      <p>The Service has been developed to support the Secretary of State's response to the outbreak, by providing members of the public with the opportunity to volunteer to participate in vital studies into coronavirus vaccines.</p>

      <h3 class="nhsuk-heading-s">Personal information about residents in Scotland, Wales and Northern Ireland</h3>

      <p>Health bodies in Scotland, Wales and Northern Ireland have requested that NHS Digital also provide this Service to their residents. Those health bodies have made a legally binding request for the Service to be provided under section 255 of the 2012 Act. For residents in Scotland, Wales and Northern Ireland, NHS Digital is therefore a controller jointly:</p>

      <ul>
          <li>in <strong>Scotland</strong> with National Services Scotland under the <a href="https://digital.nhs.uk/about-nhs-digital/corporate-information-and-documents/directions-and-data-provision-notices/nhs-scotland-non-mandatory-requests/covid-19-national-services-scotland-non-mandatory-request">Covid-19 National Services Scotland Non-Mandatory Request 2020</a>;</li>
          <li>in <strong>Wales</strong> with Public Health Wales under the <a href="https://digital.nhs.uk/about-nhs-digital/corporate-information-and-documents/directions-and-data-provision-notices/nhs-wales-directions/covid-19-public-health-wales-request-2020">Covid-19 Public Health Wales Non-Mandatory Request</a>; and</li>
          <li>in <strong>Northern Ireland</strong>, with the Department of Health – Northern Ireland under the <a href="https://digital.nhs.uk/about-nhs-digital/corporate-information-and-documents/directions-and-data-provision-notices/nhs-in-northern-ireland-formal-requests/covid-19-department-of-health-and-public-health-agency-non-mandatory-request-2020">Department of Health and Public Health Agency (Northern Ireland) Non Mandatory Request 2020</a>.</li>
      </ul>

      <p>NHS Digital is, however, the only organisation who will process your personal information provided through the Service. None of the organisations above have access to your personal information. This means that NHS Digital is responsible for securely storing your information, complying with any rights you have when you exercise them, and for sharing your information with researchers of approved UK coronavirus vaccine studies where you have provided us with permission.</p>

      <p>We are also responsible for processing your withdrawal of permission to be contacted if you change your mind and for securely destroying your information when it is no longer needed. These rights, how to exercise them and how we use your information are explained in more detail below.</p>

      <h3 class="nhsuk-heading-s">GDPR legal basis</h3>

      <p>Our legal basis for processing your personal information under the GDPR is:</p>

      <ul>
          <li>GDPR Article 6 (1) (e) – processing is necessary for the performance of a task carried out in the public interest, where we have been legally directed and requested to provide the Service and where we contact you about the vaccine studies and developments to the Service.</li>
      </ul>

      <p>Our legal basis for processing the information you provide us about your health and ethnicity under GDPR is:</p>

      <ul>
          <li>GDPR Article 9 (2) (g) – processing is necessary for reasons of substantial public interest, where we have been legally directed and requested to provide the Service, plus Part 2 Schedule 1 of the DPA18, paragraph 6, statutory and governmental purpose;</li>
          <li>GDPR Article 9 (2) (j) - processing is necessary for scientific research  and statistical purposes where we are analysing personal information we have obtained through the Service for these purposes, plus Part 2 Schedule 1 of the DPA18, paragraph 4, scientific research and statistical purposes.</li>
      </ul>

      <p>We have in place an appropriate policy document for this Service, which is required under the DPA18 in order to process the information we collect about your health and ethnicity (or special category data). This provides information about our procedures for complying with the data protection principles under GDPR and explains how long we will retain your information for. This is also explained below under 'How long we keep your personal information for'.</p>

      <h2 class="nhsuk-heading-m">How we use your personal information and why</h2>

      <h3 class="nhsuk-heading-s">To determine if you are suitable for a study and to share your details and permission to contact with researchers</h3>

      <p>The personal information you have provided to us through the Service will be used by us to identify whether you may be suitable for a particular coronavirus vaccine study. Different studies will focus on research into how vaccines will work on different people and with a range of health conditions. When researchers ask us for your details, we will first check, using the information you have provided through the Service, if their study is likely to be suitable for you. If a study is not likely to be suitable then we will not share your details. If a study is suitable, we will share your details provided through the Service. There is more about this below under 'Who we share your personal information with'.</p>

      <h3 class="nhsuk-heading-s">To help researchers plan their studies and to monitor and improve the Service</h3>

      <p>We will use the information you have provided to help researchers of the coronavirus vaccine studies to plan their studies. For example, we will analyse:</p>

      <ul>
          <li>the number of people who have signed up to the Service;</li>
          <li>where in the UK they are located; and</li>
          <li>the different health conditions that people may have.</li>
      </ul>

      <p>This analysis will also support us, NIHR and other relevant stakeholders to promote the coronavirus vaccine studies to under-represented groups.</p>

      <p>Anonymous statistical data produced from this analysis will be shared with researchers of the coronavirus vaccine studies, the Department of Health and Social Care, NSS, Public Health Wales, the Department of Health – Northern Ireland, the Vaccine Task Force, NIHR and other relevant organisations.  It may also be published. This statistical data will not identify you.</p>

      <h3 class="nhsuk-heading-s">To contact you</h3>

      <p>If you give us permission, your personal information will be used by NHS Digital to keep you informed about the progress and outcomes of the coronavirus vaccine studies. We will also keep you informed about developments in the Service to provide opportunities for you to take part in other types of health research. This would include, for example, letting you know and about any changes to the Service, including any significant changes to this Privacy Policy and when we have added other permission to contact services onto the NHS.UK website. We will keep you informed by email. These emails will be general eg newsletters, and will not be targeted to you as a result of any of the information you have provided. You can unsubscribe at any time from receiving these emails by using the unsubscribe functionality in the email.</p>

      <h3 class="nhsuk-heading-s">To withdraw your permission to be contacted</h3>

      <p>If you change your mind and would like to withdraw your permission to be contacted by researchers about approved coronavirus vaccine studies, you can withdraw your permission by following the link in the confirmation email we send you. You can also <a href="/opt-out-v2">withdraw your permission on the Service website</a>. This will withdraw your permission to be contacted by those researchers and by NHS Digital – it will not withdraw your permission to participate in any study you may already have agreed to participate in. In order to withdraw your permission from a study you have already agreed to participate in, you will need to contact the researcher associated with that study directly.</p>

      <p>Where you withdraw your permission to be contacted by researchers about approved coronavirus vaccine studies, the information collected about you through this Service will no longer be shared by NHS Digital with researchers. However, it may take up to 28 days for the withdrawal of your permission to take effect where your information has already been shared with a researcher.  You may therefore still be contacted by researchers during this time. You will not be contacted by NHS Digital.</p>

      <p>When you have withdrawn your permission to be contacted, the information you provided through the Service, including the withdrawal of your permission to be contacted, will be retained by NHS Digital for legal reasons for 8 years (as described below).</p>

      <h3 class="nhsuk-heading-s">Updating your details</h3>

      <p>If you need to update any of the information you have provided through the Service, you will need to withdraw your permission to be contacted by researchers and re-register for the Service. You can do this by following the link in the confirmation email we send you or <a href="/opt-out-v2">withdrawing your permission on the Service website</a>.</p>

      <h2 class="nhsuk-heading-m">The types of personal information we use</h2>

      <p>We will collect various types of information about you through the Service, including information about your health. As you go through the Service you will be asked various questions, including about your health. We will tell you for each question why we need this information. We have also <a href="#annex">summarised this here</a>.</p>

      <h2 class="nhsuk-heading-m">Who we share your personal information with</h2>

      <p>The personal information you provide will only be shared with researchers working on UK coronavirus vaccine studies approved by the NIHR, so that they can contact you about their study if it may be suitable for you. They will only be passed your details once they have completed the application process detailed below.</p>

      <p>As of 10th July 2020, there are currently 2 national coronavirus vaccine studies approved by NIHR in the UK, run by the University of Oxford and Imperial College London. These studies are run in various places in the UK. A list of the coronavirus vaccine studies, where they are being run and the researchers providing them is on the <a href="https://bepartofresearch.nihr.ac.uk/vaccine-studies/">Be Part of Research Covid 19 Vaccine Studies webpages</a>.</p>

      <p>The researchers will only use your information to contact you by email to invite you to take part in their study. They will contact you using the <a href="https://bepartofresearch.nihr.ac.uk/vaccine-studies/">official email address for the study which is published here</a>. You will typically be contacted by the official email address of the study site nearest to your postcode. You should carefully check the email address from any email which looks to come from a researcher of a study to make sure it is genuine. You can find further information on how to spot the obvious signs of a scam/phishing attempt by visiting the <a href="https://www.ncsc.gov.uk/guidance/suspicious-email-actions#section_1">National Cyber Security Website</a>, or <a href="https://www.actionfraud.police.uk/a-z-of-fraud/phishing">Action Fraud</a>.</p>

      <p>If you receive an email which is not from the official email address or you have concerns that the email may not be genuine, you should contact the lead researcher for the study using the <a href="https://bepartofresearch.nihr.ac.uk/vaccine-studies/">details provided about the study here</a>.</p>

      <p>Researchers will want to agree a time to discuss the study with you in more detail. If you decide to participate in their study, the researcher will ask you to give further permission to take part in that study. You will also be asked to provide identification to the researcher so that they can verify who you are. For more information on what is involved in taking part in the study please see the <a href="https://bepartofresearch.nihr.ac.uk/vaccine-studies/">Frequently Asked Questions</a>.</p>

      <p>We will not share your information with researchers of vaccine studies more than 8 -12 times in a 12-month period. This is because there are a number of vaccine studies anticipated to run at similar times in different locations, and it may be that some of these studies are not suitable for you, but others are suitable. When you have successfully enrolled or started to take part in a vaccine study, the researcher of that study will need to tell us this. We will then update your information and will no longer share your information with other vaccine studies, as you would not be able to take part in more than one study at the same time.</p>

      <p>All information which is shared by NHS Digital is subject to robust rules relating to privacy, security and confidentiality and only the minimum amount of information necessary will be shared. We will only therefore share relevant information with researchers where you appear to meet the criteria for their specific vaccine study. This will include your name, email address and other information such as your ethnicity and the answers you provided about your health conditions, but only where this is necessary for their study.</p>

      <p>Researchers from approved UK coronavirus vaccine studies will be required to apply to NHS Digital's <a href="https://digital.nhs.uk/services/data-access-request-service-dars">Data Access Request Service</a> (DARS) to obtain your details, including your email address, to contact you. This service makes sure that the researchers have a legal basis under the GDPR and DPA18 to use your information and that it will be used safely, securely and appropriately for their study. Their applications will also be subject to independent scrutiny and oversight by the <a href="https://digital.nhs.uk/about-nhs-digital/corporate-information-and-documents/independent-group-advising-on-the-release-of-data">Independent Group Advising on the Release of Data</a> (IGARD). Researchers approved to receive your details through this process will be required to enter into a data sharing agreement with NHS Digital regulating the use of your information.</p>

      <p>We publish details about all information shared through DARS in our <a href="https://digital.nhs.uk/services/data-access-request-service-dars/register-of-approved-data-releases">data release register</a>.</p>

      <h2 class="nhsuk-heading-m">How patient data is used to improve health and care</h2>

      <p>Permission is not always required for patient data to be used for health research in England and Wales.</p>

      <p>For example, in England and Wales the law permits this to happen where it is approved by the Secretary of State or the Health Research Authority so that approved medical research can take place.  You may therefore still be invited to participate in coronavirus vaccine studies without your permission where the law allows this, but this does not mean that you have to participate.</p>

      <p>For more information about how patient data is used to improve health and care:</p>

      <dl class="nhsuk-summary-list">
          <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">In England and Wales</dt>
              <dd class="nhsuk-summary-list__value">
                  <ul class="nhsuk-list">
                      <li><a href="https://understandingpatientdata.org.uk/how">How is Patient Data Used</a></li>
                      <li><a href="https://understandingpatientdata.org.uk/what-you-need-know">What You Need to Know</a></li>
                      <li><a href="https://understandingpatientdata.org.uk/">Understanding Patient Data</a></li>
                  </ul>
              </dd>
          </div>
          <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">In Scotland</dt>
              <dd class="nhsuk-summary-list__value"><a href="https://www.informationgovernance.scot.nhs.uk/pbpphsc/who-are-the-public-benefit-and-privacy-panel-and-what-do-they-do/">Public Benefit and Privacy Panel for Health and Social Care</a></dd>
          </div>
          <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">In Northern Ireland</dt>
              <dd class="nhsuk-summary-list__value"><a href="http://www.hscbusiness.hscni.net/services/2454.htm">Honest Broker Service for Health and Social Care </a></dd>
          </div>
      </dl>

      <p>We will only provide the information we have obtained from you through this Service to researchers of approved UK coronavirus vaccine studies where you have provided permission for us to do so through the Service.</p>

      <h2 class="nhsuk-heading-m">How long we keep your personal information for</h2>

      <p>We will share information with approved coronavirus vaccine studies so that they can contact you until 31 July 2022. We will retain your information for legal purposes for 8 years from this date, until 31 July 2030. It will then be securely destroyed.</p>

      <p>If you have agreed to participate in a coronavirus vaccine study, the study will need to keep your information for longer than this. The researcher for the study will tell you how long they need to use your information for when you agree to take part in their study. This will also be in their privacy notice.</p>

      <p>If you withdraw your permission to be contacted through the Service before 31st July 2022, the personal information you provided will be retained by NHS Digital for legal purposes for 8 years from the date you withdrew your permission.</p>

      <p>
          8 years is the time perioded recommended for keeping standard care records under the <a href="
https://digital.nhs.uk/data-and-information/looking-after-information/data-security-and-information-governance/codes-of-practice-for-handling-information-in-health-and-care/records-management-code-of-practice-for-health-and-social-care-2016">Records Management Code of Practice for Health and Social Care 2016</a>.
      </p>

      <h3 class="nhsuk-heading-s">Where we store your personal information</h3>

      <p>We store and process your personal information for this Service in the United Kingdom.</p>

      <p>Your personal information will only be shared with researchers of coronavirus vaccine studies in the UK. They may store data outside of the UK but this will only be permitted where this complies with GDPR. NHS Digital will ensure this is allowed under GDPR when we are considering their application for access to your information through DARS. We will also restrict the use of your information to agreed locations and territories in the data sharing agreement the researchers sign.</p>

      <p>Anonymous data, for example statistical data, which does not allow you to be identified, may be stored and processed outside of the UK by those with whom we have shared anonymous data and when it is published by us.</p>

      <h2 class="nhsuk-heading-m">Your rights over your personal information</h2>

      <p>You have the following rights in relation to your personal information obtained through the Service:</p>

      <ul>
          <li>the right to be informed about how your personal information is being used <strong>(be informed)</strong>;</li>
          <li>the right to access the personal information <strong>(get access)</strong>;</li>
          <li>the right to request the correction of inaccurate personal information <strong>(rectify or change)</strong>;</li>
          <li>the right to request the erasure of your personal information in certain limited circumstances <strong>(erase or remove)</strong>;</li>
          <li>the right to restrict processing of your personal information where certain requirements are met <strong>(restrict or stop processing)</strong>;</li>
          <li>the right to object to the processing of your personal information in certain circumstances <strong>(object to processing or use)</strong>;</li>
          <li>the right to request that elements of your data are transferred either to you or another service provider in certain circumstances <strong>(move, copy or transfer)</strong>;</li>
          <li>the right to object to certain automated decision-making processes using your personal information <strong>(know if a decision was made by a computer rather than a person)</strong>; and</li>
          <li>the right to raise a concern with NHS Digital and the <a href="https://ico.org.uk/global/contact-us/">Information Commissioner's Office</a> at any time <strong>(raise a concern)</strong>.</li>
      </ul>

      <p>More information about your legal rights can be found on the <a href="https://ico.org.uk/">Information Commissioner's website</a>.</p>

      <p>Please note that some of these rights do not apply in relation to the processing of your personal information by us through this Service due to the specific requirements and exemptions which apply to them. The rights which do apply in relation to the personal information we process as part of this Service are set out in summary form below.</p>

      <h3 class="nhsuk-heading-s">Summary of your rights</h3>

      <table>
          <caption>Summary of your rights over your personal information</caption>
          <tbody><tr>
              <th>Rights</th>
              <th>Where we are relying on public task (Article 6(1)(e) of GDPR above)</th>
              <th>Where we are processing for scientific research and statistical purposes in relation to anonymous statistics (Article 9(2)(j) of GDPR above)</th>
          </tr>
          <tr>
              <td>Be informed</td>
              <td>
                  <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true">
                      <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
                  </svg>
                  <span class="nhsuk-u-visually-hidden">Yes</span>
              </td>
              <td>
                  <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true">
                      <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
                  </svg>
                  <span class="nhsuk-u-visually-hidden">Yes</span>
              </td>
          </tr>
          <tr>
              <td>Get access</td>
              <td>
                  <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true">
                      <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
                  </svg>
                  <span class="nhsuk-u-visually-hidden">Yes</span>
              </td>
              <td>
                  <svg class="nhsuk-icon nhsuk-icon__cross" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                      <path d="M17 18.5c-.4 0-.8-.1-1.1-.4l-10-10c-.6-.6-.6-1.6 0-2.1.6-.6 1.5-.6 2.1 0l10 10c.6.6.6 1.5 0 2.1-.3.3-.6.4-1 .4z"></path>
                      <path d="M7 18.5c-.4 0-.8-.1-1.1-.4-.6-.6-.6-1.5 0-2.1l10-10c.6-.6 1.5-.6 2.1 0 .6.6.6 1.5 0 2.1l-10 10c-.3.3-.6.4-1 .4z"></path>
                  </svg>
                  <span class="nhsuk-u-visually-hidden">No</span>
              </td>
          </tr>
          <tr>
              <td>Rectify or change</td>
              <td>
                  <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true">
                      <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
                  </svg>
                  <span class="nhsuk-u-visually-hidden">Yes</span>
              </td>
              <td>
                  <svg class="nhsuk-icon nhsuk-icon__cross" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                      <path d="M17 18.5c-.4 0-.8-.1-1.1-.4l-10-10c-.6-.6-.6-1.6 0-2.1.6-.6 1.5-.6 2.1 0l10 10c.6.6.6 1.5 0 2.1-.3.3-.6.4-1 .4z"></path>
                      <path d="M7 18.5c-.4 0-.8-.1-1.1-.4-.6-.6-.6-1.5 0-2.1l10-10c.6-.6 1.5-.6 2.1 0 .6.6.6 1.5 0 2.1l-10 10c-.3.3-.6.4-1 .4z"></path>
                  </svg>
                  <span class="nhsuk-u-visually-hidden">No</span>
              </td>
          </tr>
          <tr>
              <td>Erase or remove</td>
              <td>
                  <svg class="nhsuk-icon nhsuk-icon__cross" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                      <path d="M17 18.5c-.4 0-.8-.1-1.1-.4l-10-10c-.6-.6-.6-1.6 0-2.1.6-.6 1.5-.6 2.1 0l10 10c.6.6.6 1.5 0 2.1-.3.3-.6.4-1 .4z"></path>
                      <path d="M7 18.5c-.4 0-.8-.1-1.1-.4-.6-.6-.6-1.5 0-2.1l10-10c.6-.6 1.5-.6 2.1 0 .6.6.6 1.5 0 2.1l-10 10c-.3.3-.6.4-1 .4z"></path>
                  </svg>
                  <span class="nhsuk-u-visually-hidden">No</span>
              </td>
              <td>
                  <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true">
                      <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
                  </svg>
                  <span class="nhsuk-u-visually-hidden">Yes</span>
              </td>
          </tr>
          <tr>
              <td>Restrict or stop processing</td>
              <td>
                  <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true">
                      <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
                  </svg>
                  <span class="nhsuk-u-visually-hidden">Yes</span>
              </td>
              <td>
                  <svg class="nhsuk-icon nhsuk-icon__cross" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                      <path d="M17 18.5c-.4 0-.8-.1-1.1-.4l-10-10c-.6-.6-.6-1.6 0-2.1.6-.6 1.5-.6 2.1 0l10 10c.6.6.6 1.5 0 2.1-.3.3-.6.4-1 .4z"></path>
                      <path d="M7 18.5c-.4 0-.8-.1-1.1-.4-.6-.6-.6-1.5 0-2.1l10-10c.6-.6 1.5-.6 2.1 0 .6.6.6 1.5 0 2.1l-10 10c-.3.3-.6.4-1 .4z"></path>
                  </svg>
                  <span class="nhsuk-u-visually-hidden">No</span>
              </td>
          </tr>
          <tr>
              <td>Move, copy or transfer</td>
              <td>
                  <svg class="nhsuk-icon nhsuk-icon__cross" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                      <path d="M17 18.5c-.4 0-.8-.1-1.1-.4l-10-10c-.6-.6-.6-1.6 0-2.1.6-.6 1.5-.6 2.1 0l10 10c.6.6.6 1.5 0 2.1-.3.3-.6.4-1 .4z"></path>
                      <path d="M7 18.5c-.4 0-.8-.1-1.1-.4-.6-.6-.6-1.5 0-2.1l10-10c.6-.6 1.5-.6 2.1 0 .6.6.6 1.5 0 2.1l-10 10c-.3.3-.6.4-1 .4z"></path>
                  </svg>
                  <span class="nhsuk-u-visually-hidden">No</span>
              </td>
              <td>
                  <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true">
                      <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
                  </svg>
                  <span class="nhsuk-u-visually-hidden">Yes</span>
              </td>
          </tr>
          <tr>
              <td>Object to processing or use</td>
              <td>
                  <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true">
                      <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
                  </svg>
                  <span class="nhsuk-u-visually-hidden">Yes</span>
              </td>
              <td>
                  <svg class="nhsuk-icon nhsuk-icon__cross" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                      <path d="M17 18.5c-.4 0-.8-.1-1.1-.4l-10-10c-.6-.6-.6-1.6 0-2.1.6-.6 1.5-.6 2.1 0l10 10c.6.6.6 1.5 0 2.1-.3.3-.6.4-1 .4z"></path>
                      <path d="M7 18.5c-.4 0-.8-.1-1.1-.4-.6-.6-.6-1.5 0-2.1l10-10c.6-.6 1.5-.6 2.1 0 .6.6.6 1.5 0 2.1l-10 10c-.3.3-.6.4-1 .4z"></path>
                  </svg>
                  <span class="nhsuk-u-visually-hidden">No</span>
              </td>
          </tr>
          <tr>
              <td>Know if a decision was made by a computer rather than a person</td>
              <td>
                  <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true">
                      <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
                  </svg>
                  <span class="nhsuk-u-visually-hidden">Yes</span>
              </td>
              <td>
                  <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true">
                      <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
                  </svg>
                  <span class="nhsuk-u-visually-hidden">Yes</span>
              </td>
          </tr>
          <tr>
              <td>Raise a concern</td>
              <td>
                  <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true">
                      <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
                  </svg>
                  <span class="nhsuk-u-visually-hidden">Yes</span>
              </td>
              <td>
                  <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true">
                      <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
                  </svg>
                  <span class="nhsuk-u-visually-hidden">Yes</span>
              </td>
          </tr>
      </tbody></table>

      <p>If you decide to participate in a vaccine study, you will be provided with a privacy notice by the researcher before agreeing to participate in their study. This will explain how the researcher will use your personal information and your rights in relation to this. Your rights may be different from those above.</p>

      <h2 class="nhsuk-heading-m">Contact us</h2>

      <p>If you have any queries in relation to the use of your personal information in connection with the Service, or if you want to exercise any of your rights above, please contact <a href="mailto:enquiries@nhsdigital.nhs.uk">enquiries@nhsdigital.nhs.uk</a>.</p>

      <p>Our Data Protection Officer is Kevin Willis, whose duties include monitoring internal compliance and advising the organisation on its data protection obligations. You can contact him at <a href="mailto:enquiries@nhsdigital.nhs.uk">enquiries@nhsdigital.nhs.uk</a>.</p>

      <h2 class="nhsuk-heading-m">Contact the Information Commissioner</h2>

      <p>If we are unable to resolve any queries or concerns in relation to the use of your personal information in connection with the Service, you can raise your concern with the Information Commissioner. You can contact the Information Commissioner’s Office:</p>

      <ul>
          <li>using the online <a href="https://ico.org.uk/make-a-complaint/your-personal-information-concerns/">Contact Us</a> service</li>
          <li>by calling 0303 123 1113</li>
          <li>by writing to the Information Commissioner's Office, Wycliffe House, Water Lane, Wilmslow, Cheshire, SK9 5AF</li>
      </ul>

      <h2 class="nhsuk-heading-m">Changes to this notice</h2>

      <p>The terms of our privacy policy may change from time to time. Any updates to the privacy policy will be published on the Service website. Where we make any significant changes we will also inform you about this by email.</p>

      <h2 class="nhsuk-heading-m">Previous versions</h2>

      <p>Version 1</p>

      <h2 class="nhsuk-heading-m" id="annex">Annex</h2>

      <div class="nhsuk-table-responsive">
          <table class="nhsuk-table">
              <caption class="nhsuk-table__caption">List of questions and why we need this information</caption>
              <thead class="nhsuk-table__head">
                  <tr class="nhsuk-table__row">
                      <th class="nhsuk-table__header" scope="col">Question</th>
                      <th class="nhsuk-table__header" scope="col">Why we need this information</th>
                  </tr>
              </thead>
              <tbody class="nhsuk-table__body">
                  <tr class="nhsuk-table__row">
                      <td class="nhsuk-table__cell nhsuk-u-font-weight-bold">Age over 18</td>
                      <td class="nhsuk-table__cell">This is a requirement to register. If you are under 18 you will not be able to use the Service.</td>
                  </tr>
                  <tr class="nhsuk-table__row">
                      <td class="nhsuk-table__cell nhsuk-u-font-weight-bold">Live in England, Scotland, Wales or Northern Ireland</td>
                      <td class="nhsuk-table__cell">This is a requirement to register. If you are not a UK resident you will not be able to use the Service as all research is UK based. Where you live will also help us to identify studies that may be more suitable for you.</td>
                  </tr>
                  <tr class="nhsuk-table__row">
                      <td class="nhsuk-table__cell nhsuk-u-font-weight-bold">E-mail</td>
                      <td class="nhsuk-table__cell">
                          <p>We will send you an email asking you to confirm your email address before you provide any personal information. This is for your protection so we can check you have given us the right email address.</p>
                          <p>We'll send you a confirmation email to explain what you've given us permission to do, what will happen next, and how to withdraw your permission if you want to. If you withdraw your permission, we'll use your email address to identify you.</p>
                          <p>If you have given us permission, we will share your email address with researchers working on approved UK coronavirus vaccine studies, so that they can contact you about their study if it is suitable for you.</p>
                          <p>If you have given us permission, we will use your email to contact you about the progress and outcomes of the coronavirus vaccine studies and future developments in the Service.</p>
                      </td>
                  </tr>
                  <tr class="nhsuk-table__row">
                      <td class="nhsuk-table__cell nhsuk-u-font-weight-bold">Name</td>
                      <td class="nhsuk-table__cell">For contact purposes only</td>
                  </tr>
                  <tr class="nhsuk-table__row">
                      <td class="nhsuk-table__cell nhsuk-u-font-weight-bold">Date of birth</td>
                      <td class="nhsuk-table__cell">
                          <p>We're asking this so we can make sure there is the right mix of people of different ages taking part in vaccine studies.</p>
                          <p>This is so we can make sure any vaccines developed will work for everyone.</p>
                      </td>
                  </tr>
                  <tr class="nhsuk-table__row">
                      <td class="nhsuk-table__cell nhsuk-u-font-weight-bold">Postcode</td>
                      <td class="nhsuk-table__cell">We're asking this so researchers can contact you about vaccine studies in your area. For more information on where studies are carried out in the UK see <a href="https://bepartofresearch.nihr.ac.uk/vaccine-studies/">Be Part of Research</a>.</td>
                  </tr>
                  <tr class="nhsuk-table__row">
                      <td class="nhsuk-table__cell nhsuk-u-font-weight-bold">Sex registered at birth</td>
                      <td class="nhsuk-table__cell">
                          <p>We're asking this because we know coronavirus affects females and males differently.</p>
                          <p>Knowing your sex can help make sure we get the right mix of females and males taking part in vaccine studies.</p>
                          <p>This is so we can make sure any vaccine developed will work for everyone.</p>
                      </td>
                  </tr>
                  <tr class="nhsuk-table__row">
                      <td class="nhsuk-table__cell nhsuk-u-font-weight-bold">Gender</td>
                      <td class="nhsuk-table__cell">
                          <p>We're asking this so we can make sure there is a mix of different people taking part in vaccine studies.</p>
                          <p>This is so we can make sure any vaccines developed work for everyone.</p>
                          <p>We also want to make sure everyone 18 and over in the UK feels able to take part in the vaccine studies if they want to.</p>
                          <p>If we find that people whose gender is not the same as the sex they were registered at birth with are not signing up to be contacted about vaccine studies, we can look at how to improve this by understanding any biases or accessibility issues for the Service.</p>
                      </td>
                  </tr>
                  <tr class="nhsuk-table__row">
                      <td class="nhsuk-table__cell nhsuk-u-font-weight-bold">Ethnicity</td>
                      <td class="nhsuk-table__cell">
                          <p>We know coronavirus affects people from different ethnic groups differently.</p>
                          <p>Knowing your ethnic group helps us make sure there is the right mix of people from different ethnic groups taking part in the vaccine studies.</p>
                          <p>This is so we can make sure any vaccines developed will work for everyone.</p>
                      </td>
                  </tr>
                  <tr class="nhsuk-table__row">
                      <td class="nhsuk-table__cell nhsuk-u-font-weight-bold">Face to face worker or volunteer</td>
                      <td class="nhsuk-table__cell">
                          <p>We're asking this because face to face contact with different people makes it more likely that coronavirus is passed on to others.</p>
                          <p>Knowing if you're in a job like this can help researchers match you to a relevant vaccine study.</p>
                      </td>
                  </tr>
                  <tr class="nhsuk-table__row">
                      <td class="nhsuk-table__cell nhsuk-u-font-weight-bold">Health and social care worker</td>
                      <td class="nhsuk-table__cell">
                          <p>We're asking this because people working in health and social care may be more likely to work in a place where coronavirus is passed on to others.</p>
                          <p>Knowing if you're in a job like this can help researchers match you to a relevant study.</p>
                      </td>
                  </tr>
                  <tr class="nhsuk-table__row">
                      <td class="nhsuk-table__cell nhsuk-u-font-weight-bold">Coronavirus Test and Result</td>
                      <td class="nhsuk-table__cell">This will enable individuals to be selected for a study dependent on whether they have had coronavirus or not.</td>
                  </tr>
                  <tr class="nhsuk-table__row">
                      <td class="nhsuk-table__cell nhsuk-u-font-weight-bold">Health Condition Questions</td>
                      <td class="nhsuk-table__cell">
                          <p>We're asking about your health so we:</p>
                          <ul>
                              <li>get the right mix of different people taking part in vaccine studies</li>
                              <li>make sure any vaccines developed will work for everyone</li>
                              <li>can check what vaccine studies you might be suitable for.</li>
                          </ul>
                          <p>We'll ask about things like asthma, cancer treatment and heart conditions.</p>
                          <p>Having a health condition does not necessarily mean you cannot take part in vaccine studies.</p>
                      </td>
                  </tr>
                  <tr class="nhsuk-table__row">
                      <td class="nhsuk-table__cell nhsuk-u-font-weight-bold">Permission to Contact</td>
                      <td class="nhsuk-table__cell">
                          <p>We are asking you to  give permission for researchers to contact you about taking part in approved UK coronavirus (COVID-19) vaccine studies.</p>
                          <p>You can answer, Yes, I give my permission</p>
                          <p>You can answer, No, I do not give my permission</p>
                          <p>NHS Digital would like to tell you about the progress and outcomes of the coronavirus vaccine studies. We also plan to develop this service, including to provide opportunities to take part in other types of health research. We are therefore also asking if you agree to NHS Digital contacting you for these purposes.</p>
                          <p>You can answer Yes or No</p>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>

  </div>
  </div>
{% endblock %}
