{% extends 'layout-Welsh.html' %}

{% set version = "v7-welsh" %}
{% set heading = "Telerau ac amodau" %}

{% block beforeMain %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1>Amodau defnydd gwasanaeth cofrestru i ni gysylltu â chi ar gyfer ymchwil brechlyn coronafeirws</h1>
      <ol class="nhsuk-list nhsuk-list--number">
          <li>
              <h2 class="nhsuk-heading-m">Cyflwyniad</h2>
              <ul>
                  <li>Mae'r wefan hon yn eiddo i'r Adran Iechyd a Gofal Cymdeithasol ac yn cael ei gweithredu gan NHS Digital. Mae cyfeiriadau yn y telerau defnyddio hyn at "ein" a "ni" yn gyfeiriadau at yr Adran Iechyd a Gofal Cymdeithasol ac NHS Digital.</li>
                  <li>Gallwch gyrchu a defnyddio'r wefan hon os cytunwch i gael eich rhwymo'n gyfreithiol gan y telerau a nodir yma. Os nad ydych yn cytuno i gael eich rhwymo'n gyfreithiol gan y telerau defnydd hyn, peidiwch â chyrchu a/neu ddefnyddio'r wefan hon. Os bydd y telerau defnydd hyn yn cael eu torri, bydd eich hawliau defnydd yn dod i ben ar unwaith.</li>
                  <li>Gallwn, ar unrhyw adeg ac yn ôl ein disgresiwn llwyr, ddiwygio'r telerau defnydd hyn am unrhyw reswm, er enghraifft, i gydymffurfio â'r gyfraith neu adlewyrchu newidiadau i'r gwasanaethau neu'r cynnwys a ddarperir. Byddwch yn rhwym yn gyfreithiol gan y telerau wedi'u diweddaru neu eu diwygio o'r tro cyntaf y byddwch yn defnyddio'r wefan hon ar ôl i ni gyhoeddi'r newidiadau arni.</li>
                  <li>
                      Dylech hefyd ddarllen:
                      <ul>
                          <li>ein <a href="/sign-up-to-be-contacted-for-research/privacy">polisi preifatrwydd</a>, y gellir ei ddiweddaru o bryd i'w gilydd. Mae hwn yn nodi'r telerau a ddefnyddiwn i brosesu unrhyw ddata personol a gasglwn gennych, neu yr ydych yn eu darparu i ni trwy'r wefan hon</li>
                          <li>ein <a href="https://www.nhs.uk/our-policies/cookies-policy/">polisi cwcis</a>, y gellir ei ddiweddaru o bryd i'w gilydd. Mae hwn yn nodi gwybodaeth am y cwcis rydym yn eu defnyddio, a sut rydym yn eu defnyddio pan fyddwch chi'n cyrchu ac yn defnyddio'r wefan hon</li>
                      </ul>
                  </li>
                  <li>Mae'r wefan hon yn galluogi unigolion i ddarparu gwybodaeth amdanynt eu hunain a rhoi caniatâd i ni gysylltu â nhw am dreialon clinigol ar gyfer brechlyn coronafeirws. Ar ôl cofrestru, gellir cysylltu â chi neu beidio i gymryd rhan mewn treialon clinigol yn dibynnu ar ofynion treialon unigol. Sylwch na fydd cofrestru i ni gysylltu â chi, tynnu yn ôl eich caniatâd i ni gysylltu â chi, na chymryd rhan neu beidio mewn treialon brechlyn yn effeithio ar eich gofal meddygol.</li>
              </ul>
          </li>
          <li>
              <h2 class="nhsuk-heading-m">Trwydded</h2>
              <ul>
                  <li>Mae'r Adran Iechyd a Gofal Cymdeithasol yn berchen ar yr holl hawliau eiddo deallusol yng nghynnwys y wefan hon neu mae ganddi hawl i ddefnyddio'r holl wefan hon neu a ddefnyddir i ddarparu'r wefan hon. Mae hyn yn cynnwys hawliau mewn hawlfraint, patentau, hawliau cronfa ddata, nodau masnach a hawliau eiddo deallusol eraill. Mae'r gweithiau hynny'n destun i amddiffyniad hawlfraint y goron ac yn cael eu gwarchod gan gyfreithiau a chytuniadau hawliau eiddo deallusol ledled y byd. Cedwir pob hawl o'r fath.</li>
                  <li>
                      Gallwch ddefnyddio hawliau hawlfraint a chronfa ddata ar y wefan hon o dan fersiwn gyfredol y <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/">Drwydded Llywodraeth Agored</a> ("OGL") at unrhyw bwrpas, ac eithrio lle nodir hynny, ar yr amod eich bod yn dilyn y telerau defnyddio hyn a thelerau'r OGL. Nid yw'r termau OGL yn berthnasol i'r canlynol:
                      <ul>
                          <li>unrhyw logos, delweddau, hawliau delwedd, nodau masnach, enwau masnach ac arddulliau dylunio (ac eithrio pan fo'r rhain yn rhan annatod o ddogfen neu set ddata) ac unrhyw hawliau eiddo deallusol eraill gan gynnwys, ond heb fod yn gyfyngedig, i batentau, hawliau dylunio a nodau masnach.</li>
                          <li>data personol</li>
                          <li>gwybodaeth sy'n eiddo i drydydd partïon, nad oes gennym awdurdod i'w thrwyddedu i chi</li>
                      </ul>
                  </li>
              </ul>
          </li>
          <li>
              <h2 class="nhsuk-heading-m">Defnyddio'r wefan hon</h2>
              <ul>
                  <li>Mae'r wefan hon wedi'i hawdurdodi i'w defnyddio gan bobl sy'n byw yng Nghymru, Lloegr, yr Alban a Gogledd Iwerddon yn unig. Mae cyfeiriadau at "y GIG" yn golygu "y GIG yng Nghymru, Lloegr, yr Alban a Gogledd Iwerddon" oni nodir yn wahanol.</li>
                  <li>Mae'r wefan hon i'w defnyddio gan bobl 18 oed a hŷn yn unig.</li>
                  <li>Dim ond i roi caniatâd i ni gysylltu â chi ynglŷn â threialon clinigol ar gyfer brechlyn coronafeirws y gallwch ddefnyddio'r wefan hon. Rhaid i chi beidio â rhoi caniatâd ar ran unrhyw un arall.</li>
                  <li>Rydych chi'n gyfrifol am wneud yr holl drefniadau sy'n angenrheidiol i chi gyrchu'r wefan hon, gan gynnwys ond heb fod yn gyfyngedig i gysylltiad rhyngrwyd. Dylech ddefnyddio'ch meddalwedd amddiffyn feirws eich hun.</li>
                  <li>Mae gennym lawer o fesurau ar waith i gadw'ch data yn ddiogel. Ond mae'n bwysig eich bod hefyd yn chwarae'ch rhan ac yn defnyddio cysylltiad rhyngrwyd diogel - ewch i <a href='https://www.ncsc.gov.uk/cyberaware/home'>wefan Cyber Aware</a> y llywodraeth i gael cyngor.</li>
                  <li>Gallwch roi'r gorau i ddefnyddio'r wefan hon ar unrhyw adeg. Fodd bynnag, os ydych yn dymuno tynnu eich caniatâd yn ôl i ni gysylltu â chi, rhaid i chi ein hysbysu o hyn, fel y nodir yn y polisi preifatrwydd.</li>
                  <li>Nid oes gan y wefan hon unrhyw swyddogaeth i greu cyfrif neu arbed cynnydd. Mae hyn yn golygu, os na fyddwch yn cwblhau'r sgriniau mewnbynnu data ar gyfer y siwrnai gyfan mewn un sesiwn, bydd angen i chi ddechrau eto pan ddychwelwch.</li>
              </ul>
          </li>
          <li>
              <h2 class="nhsuk-heading-m">Termau defnydd</h2>
              <ul>
                  <li>Mae'r wefan hon yn eich galluogi i gofrestru i dderbyn cyswllt gan ymchwilwyr sy'n gweithio ar dreialon clinigol a gefnogir gan y Sefydliad Cenedlaethol Ymchwil Iechyd i frechlynnau ar gyfer coronafeirws. Nid yw cofrestru i ni gysylltu â chi yn golygu y byddwch yn gymwys neu y byddwn yn cysylltu â chi mewn perthynas ag unrhyw dreial penodol. Nid ydym yn rheoli nac yn goruchwylio'r treialon hyn. Bydd gan bob treial ei thelerau ac amodau ei hun, a chaniatâd y dylech ei darllen yn ofalus.</li>
                  <li>Nid ydym yn gwarantu y bydd y wefan hon ar gael bob amser neu y bydd mynediad iddi yn ddi-wall neu'n ddi-dor. Efallai y byddwn yn atal, tynnu'n ôl, cau neu newid y cyfan o’r wefan hon neu unrhyw ran ohoni heb rybudd. Nid ydym yn gwarantu y bydd y wefan hon yn ddiogel nac yn rhydd o chwilod neu feirysau.</li>
                  <li>Gall y wefan hon gynnwys dolenni i wefannau eraill. Nid ydym yn gyfrifol am gynnwys unrhyw wefan trydydd parti ac nid yw dolen i wefan arall yn golygu ein cymeradwyaeth o'i chynnwys mewn unrhyw ffordd.</li>
                  <li>Cewch gysylltu â'n tudalen hafan, ar yr amod eich bod chi'n gwneud hynny mewn ffordd sy'n deg ac yn gyfreithiol ac nad yw'n niweidio ein henw da nac yn manteisio arno. Rhaid i chi beidio â sefydlu cyswllt yn y fath fodd ag i awgrymu unrhyw fath o gymdeithas, cymeradwyaeth neu ardystiad ar ein rhan ni. Rydym yn cadw'r hawl i dynnu caniatâd cysylltu yn ôl heb rybudd.</li>
                  <li>Bydd unrhyw wybodaeth bersonol a gyflwynwch inni trwy'r wefan hon yn cael ei defnyddio yn unol â'n polisi preifatrwydd.</li>
                  <li>
                      Rhaid i chi beidio, mewn perthynas â'ch defnydd o'r wefan hon:
                      <ul>
                          <li>darparu, neu annog darparu, unrhyw wybodaeth ffug, anghywir neu anghyflawn, neu ymdrechu, neu annog ymdrechu, i ddefnyddio'r wefan hon i gefnogi unrhyw hawliadau am dâl salwch nad oes gennych chi nac eraill hawl iddo.</li>
                          <li>defnyddio ein hawliau eiddo deallusol heblaw fel y caniateir yn yr adran uchod</li>
                          <li>trosglwyddo unrhyw ddeunydd sy'n ddifenwol, yn dramgwyddus neu fel arall yn annerbyniol</li>
                          <li>casglu unrhyw ddata o'n systemau neu geisio canfod unrhyw drosglwyddiadau i'n gweinyddwyr neu oddi wrthynt</li>
                          <li>ei defnyddio mewn ffordd a allai niweidio, analluogi, gorlwytho, amharu neu gyfaddawdu ein systemau neu ddiogelwch neu ymyrryd â defnydd defnyddwyr eraill</li>
                          <li>ei defnyddio mewn unrhyw ffordd anghyfreithlon, at unrhyw bwrpas anghyfreithlon, neu mewn unrhyw ffordd sy'n anghyson â'r telerau defnydd hyn, neu ymddwyn yn dwyllodrus neu'n faleisus, er enghraifft, trwy hacio i mewn neu fewnosod cod maleisus, fel feirysau neu ddata niweidiol.</li>
                          <li>ei defnyddio mewn unrhyw ffordd sy'n gyfystyr â defnydd amhriodol neu fel arall mewn modd nad yw’n cael ei ystyried yn rhesymol gan y telerau defnyddio hyn</li>
                          <li>ei chamddefnyddio trwy gyflwyno feirysau, trojans, abwydod, bomiau rhesymeg neu ddeunydd arall yn fwriadol sy'n faleisus neu'n niweidiol yn dechnolegol. Rhaid i chi beidio â cheisio sicrhau mynediad heb awdurdod i'n gwefan, y gweinydd y mae'r wefan hon yn cael ei storio arno, nac unrhyw weinydd, cyfrifiadur neu gronfa ddata sy'n gysylltiedig â'r wefan hon. Rhaid i chi beidio ag ymosod ar y wefan hon trwy ymosodiad gwrthod-gwasanaeth neu ymosodiad gwrthod-gwasanaeth dosbarthedig. Trwy dorri'r ddarpariaeth hon, byddech yn cyflawni trosedd o dan Ddeddf Camddefnyddio Cyfrifiaduron 1990. Byddwn yn riportio unrhyw doriad o'r fath i'r awdurdodau gorfodi cyfraith perthnasol, a byddwn yn cydweithredu â'r awdurdodau hynny trwy ddatgelu pwy ydych chi iddynt.</li>
                          <li>ei defnyddio i drosglwyddo unrhyw ddata, anfon neu uwchlwytho yn fwriadol unrhyw ddeunydd sy'n cynnwys feirysau, ceffylau trojan, abwydod, ysbïwedd neu unrhyw raglenni niweidiol eraill neu god cyfrifiadur tebyg sydd wedi'i gynllunio i effeithio'n andwyol ar weithrediad unrhyw feddalwedd neu galedwedd cyfrifiadurol.</li>
                      </ul>
                  </li>
              </ul>
              <p>Os bydd toriad o'r fath, bydd eich hawl i ddefnyddio'r wefan hon yn dod i ben ar unwaith.</p>
          </li>
          <li>
              <h2 class="nhsuk-heading-m">Atebolrwydd</h2>
              <ul>
                  <li>Darllenwch y cymal hwn yn ofalus, gan ei fod yn nodi terfynau ein hatebolrwydd i chi (ac unrhyw berson rydych chi'n defnyddio'r wefan hon ar ei ran).</li>
                  <li>Er ein bod yn gwneud ymdrechion rhesymol i'w diweddaru, darperir y wefan hon "fel y mae" ac, i'r graddau a ganiateir gan y gyfraith, nid ydym yn cyflwyno unrhyw sylwadau na gwarantau, p'un a ydynt yn fynegol neu'n ymhlyg (gan gynnwys ond heb fod yn gyfyngedig i'r gwarantau ymhlyg o ansawdd boddhaol a ffitrwydd at ddiben penodol), bod (a) y wefan hon yn gywir, yn gyflawn neu'n gyfoes; (b) y bydd y wefan hon yn cwrdd â'ch gofynion neu anghenion penodol; neu (c) y bydd mynediad i'r un peth, neu ei defnydd, yn ddi-dor neu'n hollol ddiogel.</li>
                  <li>Rydych yn cydnabod ac yn cytuno na fyddwn yn gyfrifol am unrhyw anaf, colled, difrod, costau neu dreuliau (boed yn uniongyrchol neu'n anuniongyrchol) sy'n deillio o'r wefan hon, neu'n ymwneud â defnyddio neu gamddefnyddio, ac eithrio i'r graddau na all atebolrwydd o'r fath gael ei wahardd gan y gyfraith (h.y. ein hatebolrwydd am farwolaeth neu anaf personol sy'n deillio o'n hesgeulustod, neu ein twyll neu gamliwio twyllodrus neu unrhyw atebolrwydd arall na ellir ei eithrio na'i gyfyngu o dan gyfraith Lloegr).</li>
                  <li>
                      Mae hyn yn golygu nad oes gennym unrhyw gyfrifoldeb i chi (nac unrhyw un arall y gallwch fod yn defnyddio'r wefan hon ar ei ran) am:
                      <ul>
                          <li>unrhyw golled busnes (gan gynnwys, ond heb fod yn gyfyngedig i, colli elw, refeniw, contractau, arbedion disgwyliedig, data, ewyllys da neu wariant wedi'i wastraffu)</li>
                          <li>unrhyw golled neu ddifrod lle nad yw hyn yn cael ei achosi gan ein hesgeulustod</li>
                          <li>unrhyw golled neu ddifrod sy'n deillio o anallu i gyrchu a/neu ddefnyddio'r wefan hon yn gyfan gwbl neu'n rhannol</li>
                          <li>unrhyw golled neu ddifrod a achosir gan feirws, ymosodiad gwrthod-gwasanaeth dosbarthedig, neu ddeunydd arall sy'n niweidiol yn dechnolegol a allai heintio'ch dyfais, offer cyfrifiadurol, rhaglenni cyfrifiadurol, data neu ddeunydd perchnogol arall oherwydd eich defnydd o'r wefan hon.</li>
                          <li>unrhyw golled neu ddifrod arall p'un a yw'n codi o gamwedd (gan gynnwys esgeulustod), torri contract, torri dyletswydd statudol neu fel arall</li>
                      </ul>
                  </li>
              </ul>
          </li>
          <li>
              <h2 class="nhsuk-heading-m">Cyffredinol</h2>
              <ul>
                  <li>I gael y wybodaeth a'r cyngor iechyd diweddaraf, darllenwch dudalennau <a href='https://www.nhs.uk/coronavirus'>gwefan y GIG ar coronafeirws</a>. Dysgwch am <a href='https://www.gov.uk/coronavirus'>ymateb y llywodraeth i goronafeirws</a>.</li>
                  <li>Efallai y byddwn yn trosglwyddo ein hawliau a'n rhwymedigaethau o dan y telerau defnyddio hyn i sefydliad arall. Dim ond os ydym yn cytuno'n ysgrifenedig y gallwch chi drosglwyddo'ch hawliau neu'ch rhwymedigaethau o dan y telerau defnydd hyn.</li>
                  <li>Mae'r telerau defnydd hyn (ynghyd â'r polisi preifatrwydd a'r polisi cwcis y cyfeirir atynt yn y telerau defnydd hyn) yn nodi'r cytundeb cyfan rhyngoch chi a ni mewn perthynas â'r wefan hon.</li>
                  <li>Nid yw'r telerau defnydd hyn yn arwain at unrhyw hawliau i unrhyw drydydd parti orfodi unrhyw un o delerau'r telerau defnydd hyn.</li>
                  <li>Mae pob un o gymalau’r telerau defnydd hyn yn gweithredu ar wahân. Os penderfynir bod unrhyw ran o'r telerau defnydd hyn yn annilys neu'n anorfodadwy yn unol â'r gyfraith berthnasol gan gynnwys, ond heb fod yn gyfyngedig i, ymwadiadau gwarant a gwaharddiadau a therfynau atebolrwydd, yna bernir bod y ddarpariaeth annilys neu anorfodadwy yn cael ei disodli gan ddarpariaeth ddilys, bydd darpariaeth orfodadwy sy'n cyd-fynd agosaf â bwriad y ddarpariaeth wreiddiol a gweddill y telerau defnydd hyn yn parhau i bob pwrpas.</li>
                  <li>Hyd yn oed os byddwn yn oedi cyn gorfodi'r telerau defnydd hyn, gallwn eu gorfodi yn nes ymlaen. Os na fyddwn yn mynnu ar unwaith eich bod yn gwneud unrhyw beth y mae'n ofynnol i chi ei wneud o dan y telerau defnydd hyn, neu os ydym yn oedi cyn cymryd camau yn eich erbyn o ran torri'r telerau defnydd hyn, ni fydd hynny'n golygu nad oes raid i chi wneud y pethau hynny ac ni fydd yn ein hatal rhag cymryd camau yn eich erbyn yn nes ymlaen.</li>
                  <li>Bydd y telerau defnydd hyn yn cael eu llywodraethu a'u dehongli yn unol â deddfau Lloegr, ac rydych chi'n cytuno i awdurdodaeth unigryw llysoedd Lloegr mewn perthynas ag unrhyw anghydfodau a allai godi mewn perthynas â'r wefan hon.</li>
              </ul>
          </li>
          <li>
              <h2 class="nhsuk-heading-m">Manylion cyswllt</h2>
              <ul>
                  <li>I ddarganfod mwy am bwy ydym ni a'n rôl, ewch i <a href='https://digital.nhs.uk/'>wefan NHS Digital</a>. Os oes angen i chi gysylltu, gallwch ddod o hyd i'n manylion cyswllt ar ein <a href='https://www.nhs.uk/contact-us/'>tudalen help a chymorth</a>.</li>
              </ul>
          </li>
      </ol>
    </div>
  </div>
{% endblock %}
