{% extends 'layout.html' %}

{% set version = "v7" %}
{% set heading = "Sign up to be contacted for coronavirus vaccine research service terms of use" %}

{% block beforeMain %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h1>{{ heading }}</h1>
        <ol class="nhsuk-list nhsuk-list--number">
            <li>
                <h2 class="nhsuk-heading-m">Introduction</h2>
                <ul>
                    <li>This website is owned by the Department for Health and Social Care and operated by NHS Digital. References in these terms of use to "we", "our" and "us" are references to the Department of Health and Social Care and NHS Digital.</li>
                    <li>You may access and use this website if you agree to be legally bound by the terms set out here. If you do not agree to be legally bound by these terms of use, please do not access and/or use this website. In the event of breach of these terms of use, your rights of use shall cease immediately.</li>
                    <li>We may, at any time and in our sole discretion, amend these terms of use for any reason, for example, to comply with law or reflect changes to the services or content provided. You will be legally bound by the updated or amended terms from the first time that you use this website after we publish the changes on it.</li>
                    <li>
                        You should also read:
                        <ul>
                            <li>
                                our <a href="/privacy">privacy policy</a>, which may be updated from time to time. This sets out the terms on which we process any personal data we collect from you, or that you provide to us via this website
                            </li>
                            <li>our <a href="https://www.nhs.uk/our-policies/cookies-policy/">cookies policy</a>, which may be updated from time to time. This sets out information about the cookies we use and how we use them when you access and use this website</li>
                        </ul>
                    </li>
                    <li>This website enables individuals to provide information about themselves and give consent to be contacted about clinical trials for a coronavirus vaccine. Once registered you may or may not be contacted to be involved in clinical trials dependant on the requirements of individual trials. Please note registering to be contacted, withdrawing your consent to be contracted and taking part or not in vaccine trials will not impact on your medical care.</li>
                </ul>
            </li>
            <li>
                <h2 class="nhsuk-heading-m">Licence</h2>
                <ul>
                    <li>The Department of Health and Social Care owns or has the right to use all intellectual property rights in the contents of this website or used for the provision of this website. This includes rights in copyright, patents, database rights, trademarks and other intellectual property rights. Those works are subject to crown copyright protection and protected by intellectual property right laws and treaties around the world. All such rights are reserved.</li>
                    <li>
                        You can use copyright and database rights in this website under the current version of the <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/">Open Government Licence</a> ("OGL") for any purpose, except where specified, provided you follow these terms of use and the terms of the OGL. The OGL terms do not apply to the following:
                        <ul>
                            <li>any logos, visuals, image rights, trademarks, trade names and design styles (except where these are integral to a document or data set) and any other intellectual property rights including, but not limited, to patents, design rights and trademarks</li>
                            <li>personal data</li>
                            <li>information owned by third parties, which we are not authorised to licence to you</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <h2 class="nhsuk-heading-m">Using this website</h2>
                <ul>
                    <li>This website is only authorised for use by people who live in England, Wales, Scotland and Northern Ireland. References to "the NHS" mean "the NHS in England, Wales, Scotland and Northern Ireland" unless otherwise stated.</li>
                    <li>This website is only for use by people aged 18 and over.</li>
                    <li>You may only use this website to give consent for yourself to be contacted about clinical trials for a coronavirus vaccine.  You must not give consent on behalf of anyone else.</li>
                    <li>You are responsible for making all arrangements necessary for you to access this website, including but not limited to an internet connection. You should use your own virus protection software.</li>
                    <li>We have many measures in place to keep your data safe. But it is important that you also play your part and use a secure internet connection – visit the government's <a href="https://www.ncsc.gov.uk/cyberaware/home">Cyber Aware website</a> for advice.</li>
                    <li>You may stop using this website at any time.  However, if you wish to withdraw your consent to be contacted you must inform us of this, as set out in the privacy policy.</li>
                    <li>This website has no functionality to create an account or save progress. This means that if you do not complete the data entry screens for the whole journey in one session you will need to start again when you return.</li>
                </ul>
            </li>
            <li>
                <h2 class="nhsuk-heading-m">Usage terms</h2>
                <ul>
                    <li>This website enables you to sign-up to being contacted by researchers working on National Institute of Health Research supported clinical trials into vaccines for coronavirus.  Signing up to be contacted does not mean that you will be eligible or contacted in respect of any particular trial.  We do not manage or oversee these trials.  Each trial will have their own terms and conditions, and consents that you should carefully read.</li>
                    <li>We do not guarantee that this website will always be available or that access to it will be error free or uninterrupted. We may suspend, withdraw, discontinue or change all or any part of this website without notice. We do not guarantee that this website will be secure or free from bugs or viruses.</li>
                    <li>This website may contain links to other sites. We are not responsible for the content of any third-party website and a link to another site in no way constitutes our endorsement of its contents.</li>
                    <li>You may link to our homepage, provided you do so in a way that is fair and legal and does not damage our reputation or take advantage of it. You must not establish a link in such a way as to suggest any form of association, approval or endorsement on our part. We reserve the right to withdraw linking permission without notice.</li>
                    <li>Any personal information you submit to us through this website will be used in accordance with our privacy policy.</li>
                    <li>
                        You must not, in relation to your use of this website:
                        <ul>
                            <li>provide, or encourage the provision of, any false, inaccurate, or incomplete information, or attempt, or encourage attempts, to use this website to support any claims for sickness pay to which you or others are not entitled</li>
                            <li>use our intellectual property rights other than as allowed in the section above</li>
                            <li>transmit any material that is defamatory, offensive or otherwise objectionable</li>
                            <li>collect any data from our systems or attempt to decipher any transmissions to or from our servers</li>
                            <li>use it in a way that could damage, disable, overburden, impair or compromise our systems or security or interfere with other users</li>
                            <li>use it in any unlawful manner, for any unlawful purpose, or in any manner inconsistent with these terms of use, or act fraudulently or maliciously, for example, by hacking into or inserting malicious code, such as viruses or harmful data</li>
                            <li>use it in any way that constitutes improper use or otherwise in a manner not reasonably contemplated by these terms of use</li>
                            <li>misuse it by knowingly introducing viruses, trojans, worms, logic bombs or other material that is malicious or technologically harmful. You must not attempt to gain unauthorised access to our site, the server on which this website is stored, or any server, computer or database connected to this website. You must not attack this website via a denial-of-service attack or a distributed denial-of-service attack. By breaching this provision, you would commit a criminal offence under the Computer Misuse Act 1990. We will report any such breach to the relevant law enforcement authorities, and we will co-operate with those authorities by disclosing your identity to them</li>
                            <li>use it to knowingly transmit any data, send or upload any material that contains viruses, trojan horses, worms, spyware or any other harmful programmes or similar computer code designed to adversely affect the operation of any computer software or hardware</li>
                        </ul>
                    </li>
                </ul>
                <p>In the event of such a breach, your right to use this website will cease immediately.</p>
            </li>
            <li>
                <h2 class="nhsuk-heading-m">Liability</h2>
                <ul>
                    <li>Please read this clause carefully, as it sets out the limits of our liability to you (and any person you are using this website on behalf of).</li>
                    <li>Although we make reasonable efforts to update it, this website is provided "as is" and, to the extent permitted by law, we make no representations, warranties or guarantees, whether express or implied (including but not limited to the implied warranties of satisfactory quality and fitness for a particular purpose), that (a) this website is accurate, complete or up-to-date; (b) this website will meet your particular requirements or needs; or (c) access to, or use of, the same will be uninterrupted or completely secure.</li>
                    <li>You acknowledge and agree that we will not be responsible for any injury, loss, damage, costs or expenses (whether direct or indirect) arising out of, or relating to the use or misuse of this website, except to the extent that such liability cannot be excluded by law (i.e. our liability for death or personal injury arising from our negligence, or our fraud or fraudulent misrepresentation or any other liability that cannot be excluded or limited under English law).</li>
                    <li>
                        This means that we have no liability to you (or anyone else you may use this website on behalf of) for:
                        <ul>
                            <li>any business loss (including, but not limited to, loss of profits, revenue, contracts, anticipated savings, data, goodwill or wasted expenditure)</li>
                            <li>any loss or damage where this is not caused by our negligence</li>
                            <li>any loss or damage arising from an inability to access and/or use this website in whole or in part</li>
                            <li>any loss or damage caused by a virus, distributed denial-of-service attack, or other technologically harmful material that may infect your device, computer equipment, computer programs, data or other proprietary material due to your use of this website</li>
                            <li>any other loss or damage whether arising under tort (including negligence), breach of contract, breach of statutory duty or otherwise</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <h2 class="nhsuk-heading-m">General</h2>
                <ul>
                    <li>For the latest health information and advice, read the <a href="https://www.nhs.uk/coronavirus">NHS website pages on coronavirus</a>. Learn about the <a href="https://www.gov.uk/coronavirus">government response to coronavirus.</a></li>
                    <li>We may transfer our rights and obligations under these terms of use to another organisation. You may only transfer your rights or your obligations under these terms of use to another person if we agree in writing.</li>
                    <li>These terms of use (together with the privacy policy and cookie policy referred to in these terms of use) set out the entire agreement between you and us in respect of this website.</li>
                    <li>These terms of use do not give rise to any rights for any third party to enforce any term of these terms of use.</li>
                    <li>Each of the clauses of these terms of use operates separately. If any part of these terms of use is determined to be invalid or unenforceable pursuant to applicable law including, but not limited to, the warranty disclaimers and exclusions and limits of liability, then the invalid or unenforceable provision will be deemed superseded by a valid, enforceable provision that most closely matches the intent of the original provision and the remainder of these terms of use shall continue in effect.</li>
                    <li>Even if we delay in enforcing these terms of use, we can still enforce them later. If we do not insist immediately that you do anything you are required to do under these terms of use, or if we delay in taking steps against you in respect of your breaking these terms of use, that will not mean that you do not have to do those things and it will not prevent us taking steps against you at a later date.</li>
                    <li>These terms of use shall be governed by and interpreted in accordance with the laws of England, and you agree to the exclusive jurisdiction of the courts of England in respect of any disputes that may arise in relation to this website.</li>
                </ul>
            </li>
            <li>
                <h2 class="nhsuk-heading-m">Contact details</h2>
                <ul>
                    <li>To find out more about who we are and our role, visit the <a href="https://digital.nhs.uk/">NHS Digital website.</a> If you need to get in touch you can find our contact details on our <a href="https://www.nhs.uk/contact-us/">help and support page.</a></li>
                </ul>
            </li>
        </ol>
    </div>
  </div>
{% endblock %}
